@import "btn";
.post, .promo {
	overflow: hidden;
	margin: 25px 0;
	padding: 20px 20px 15px;	
	position: relative;
	background: #eef6f9;
	&:last-child {
		margin-bottom: 0;
	}
	@include r($mob) {
		padding: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
	&__media {
		position: relative;
		float: left;
		margin-right: 25px;
		width: 280px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		@include r($tablet) {
			width: 180px;
			margin-right: 20px;
		}
		@include r($mob) {
			width: 70px;
			margin-right: 15px;
		}
	}
	&__main {
		overflow: hidden;
	}
	&__title {
		margin-bottom: 7px;
		color: #0053a0;
		font-size: 16px;
		font-weight: bold;
		a {
			color: #0053a0;
		}
		@include r($mob) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	&__text {
		color: $ddgray;
		margin-bottom: 0;
		font-size: 16px;
		height: 50px;
		@include r($mob) {
			display: none;
		}
	}
}
.promo{
	padding:25px 20px 15px;
	&.promo_default {
		margin-bottom: 0;
		padding: 0;
		background: none;
		overflow: visible;
	}
	&__main {
		.price-block {
			@include r($mob) {
				font-size: 14px;
			}
		}
	}

	&__media{
		// width: 260px;
		a{
			display: block;
		}
	}
	&__pic {
		position: relative;
		max-width: 580px;
		width: calc(50% - 30px);
		float: left;
		@include r($mob) {
			float: none;
			width: 100%;
			margin: 0 auto 20px;
		}
	}
	&__content_float-right {
		margin-left: 50%;
		@include r($mob) {
			width: 100%;
			margin-left: 0;
		}
	}
	&__period{
		margin-bottom: 10px;
	}
	&__arhive-link{
		margin: 15px 0;
	}
}
.promo_items-list_link{
	text-align: center;
	>*, p{
		border: 3px solid #4a5b70;
		padding: 13px 50px 21px;
		display: block;
		font-size: 27px;
		line-height: 40px;
		margin: 0;
		color: $ddgray;
		color: #4a5b70;
		@include r($mob) {
			padding: 13px 20px 21px;
			font-size: 24px;
		}
		span {
			border-bottom: 1px solid;
		}
		&:hover {
			border-color: $blue;
			span{
				color: $blue;
				border-bottom-color: $blue;
				border-bottom-style: solid;
			}
		}		
	}
}
.tags {
	font-size: 0;
	color: #999;
	font-size: 13px;
	line-height: 1;
	text-align: right;
	a {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		margin-bottom: 5px;
		padding: 4px 10px;
		opacity: 0.4;
		color: #999;
		border: 1px solid #0053A0;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		&:hover {
			opacity: 1;
			color: #000;
			border-color: #000;
		}
		&.is-marked {
			background: #eaff00;
			opacity: 1;
			color: $ddgray;
		}
	}
	@include r($tablet) {
		display: none;
	}
}

.price-block {
	font-size: 21px;
	color: $ddgray;
	font-weight: bold;
	sup {
		position: relative;
		top: -7px;
		font-size: 12px;
	}
}