a:hover span {
	border-bottom: 1px dotted;
}
.row .dashedtext{

	.link{
		border-bottom: 1px dotted #a1a1a1;
	}
	.icon{border:none;}
}
.table tr.even, 
.table tr.alt, 
.table tr:nth-of-type(even) {
	background: #f7f7f7;
}
ul.inline{
	@include clearfix();
	margin:0;
	&.three-type {
		-webkit-column-width: 200px;
	    -moz-column-width: 200px;
	    column-width: 200px;
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	    //-webkit-column-gap: 15px;
	    //-moz-column-gap: 15px;
	    //column-gap: 15px;
	}
	&.four-type {
		-webkit-column-width: 140px;
	    -moz-column-width: 140px;
	    column-width: 140px;
	    -webkit-column-count: 4;
	    -moz-column-count: 4;
	    column-count: 4;
	    //-webkit-column-gap: 15px;
	    //-moz-column-gap: 15px;
	    //column-gap: 15px;
	}
	&.inline.two-type {
		-webkit-column-width: 140px;
		-moz-column-width: 140px;
		column-width: 140px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	/*
	&.three-type li{
		width:33%;
	}
	&.four-type li{
		width:25%;
	}
	*/
	li{
		list-style:none;
		float:left;
		position:relative;
	}
}
