.bcrumbs-container{
	padding:rem-calc(32) 0 rem-calc(30) 0; 
	z-index: 10;
	position: relative;
	@include r($mob) {
		display: none;
	}
	.bcrumbs{
		width: 100%;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			list-style: none;
			color:$blue;
			position: relative;
			font-size:rem-calc(14);
			line-height: rem-calc(16);
			a{
				color:$blue;
				display: inline;
				border: 0;
				padding: 0;
				span{
					border-bottom: rem-calc(1) solid $blue;
				}				
				&:hover{
					color:$ddgray;
					border-bottom: rem-calc(1) solid $ddgray;
					span{
						border-bottom: rem-calc(1) solid $ddgray;
					}
				}
			}
			&::after{
				content: ' / ';
				color: $ddgray;
				padding: 0 rem-calc(3);
			}
			&:last-child{
				&::after{
					content: none;
				}
				a{
					border-bottom:none;
					&{
						&:hover{
							color:$ddgray;
							span{
								border-bottom: rem-calc(1) solid $ddgray;
							}
						}
					}
				}
			}
		}
	}
}
.bcrumbs {
	li {
		&.has-drop {
			&:hover {
				.bcrumbs__drop {
					display: block;
				}
				> a {
					&:before,
					&:after {
						display: block;
					}
				}
			}
			> a {
				position: relative;
				z-index: 2;
				&:before,
				&:after {
					display: none;
				}
				&:before {
					content: "";
					position: absolute;
					left: -14px;
					top: -7px;
					right: -14px;
					height: 40px;
					background: #fff;
					z-index: 1;
					border: 2px solid #99bad9;
					border-bottom: 0;
					border-radius: 5px;
				}
				&:after {
					content: "";
					position: absolute;
					bottom: -16px;
					left: -12px;
					right: -14px;
					height: 10px;
					background: #fff;
					z-index: 3;
				}
			}
			span {
				position: relative;
				z-index: 2;
			}
			
		}
	}
	.bcrumbs__drop {
		display: none;
		position: absolute;
		top: 100%;
		left: -14px;
		margin-top: 5px;
		border: 2px solid #99bad9;
		padding: 10px 10px 15px;
		width: 617px;
		border-radius: 5px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		background: #fff;
		font-size: 12px;
		line-height: 1;
		.medium-12 {
			margin: 20px 0 15px;
		}
	}
	.bcrumbs__list {
		margin: 0;
		line-height: 1;
		li {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			font-size: 12px;
			@include r($tablet) {
				margin-bottom: 15px;
			}
			&:after {
				display: none;
			}
			&:last-child {
				a {
					&:hover {
						border-bottom: 1px solid;
					}
				}
			}
		}
		&.is-normal {
			li {
				a {
					font-weight: normal;
				}
			}
			
		}
	}
}


.mob-bcrumbs {
	display: none;
	margin-bottom: 20px;
	@include r($mob) {
		display: block;
	}
}