.btn-group{
	margin: 0;
	.btn{
		margin: 0;
	}
}

.btn-wrap {
	overflow: hidden;
	.btn {
		vertical-align: middle;
	}
}
.btn-wrap__link {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	font-size: 13px;
	border-bottom: 1px solid;
}
.soc-enter {
		margin: 15px 0;
		width: 207px;
	a {
		display: block;
		margin-bottom: 10px;
		padding: 0 15px;
		height: 41px;
		line-height: 41px;
		border-radius: 7px;
		font-family: Arial,sans-serif;
		font-size: 18px;
		color: #fff;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 -3px 0 rgba(8, 34, 60, 0.1);
		&:hover {
			text-shadow: none;
		}
		&:active {
			box-shadow: inset 0 3px 0 rgba(8, 34, 60, 0.1);
		}
	}
	&__fb {
		background: #45619d;
	}
	&__vk {
		background: #597da3;
	}
	&__gp {
		background: #da5033;
	}
}
.btn{
	display: inline-block;
	border: 0;
	cursor: pointer;
	position: relative;
	line-height: rem-calc(16);
	font-size: rem-calc(13);
	color: white;
	padding:rem-calc(7) rem-calc(16);
	background-color: $btn-color;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	transition: background-color 200ms ease-out;
	margin-top:rem-calc(12);
	&.default{
		height: rem-calc(47);
		padding: rem-calc(14) rem-calc(18);
		background:none;
		font-size: rem-calc(14);
		font-weight:700;
		color: $blue;
		border:1px solid $border-btn-default;
		&:hover{
			border-color:$blue;
			color:$blue;
		}
	}
	&.gradient{
		margin: 0;
		height: 55px;
		line-height: 55px;
		display: inline-block;
		font-size: 1.3125rem;
		padding: 0 1.25rem;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-shadow: 1px 2px 1px #969696;
		-webkit-box-shadow: inset 0px -3px 0px 0px #9db706;
		-moz-box-shadow: inset 0px -3px 0px 0px #9db706;
		box-shadow: inset 0px -3px 0px 0px #9db706;
		transition: all .3s;
		overflow: hidden;
		&::before{
			background: #9eb706;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			transition: all 1s;
		}
		&:hover{
			webkit-box-shadow:0px 1px 1px 1px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:0px 1px 1px 1px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
			outline:none;
			transition: all 1s;
			color: $white;
			&::before{
				content: '';
			}
			
		}
		&:active{
			-webkit-box-shadow: inset 0px 3px 0px 0px #9db706;
			-moz-box-shadow: inset 0px 3px 0px 0px #9db706;
			box-shadow: inset 0px 3px 0px 0px #9db706;
			&::before{
				content: none;
			}
		}
      &.grey{
        -webkit-box-shadow: inset 0px -3px 0px 0px #C6C9CC;
        -moz-box-shadow: inset 0px -3px 0px 0px #C6C9CC;
        box-shadow: inset 0px -3px 0px 0px #C6C9CC;
        background: #E0E0E0;
        &::before{
          background: #C6C9CC;
        }
      }
	}
  
	&:hover,
	&:focus{
		color: $lgray;
		outline: none;
	}
	&.gradient{
		background: #bed300; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlZDMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmM4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #bed300 0%, #afc800 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bed300), color-stop(100%,#afc800)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #bed300 0%,#afc800 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #bed300 0%,#afc800 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #bed300 0%,#afc800 100%); /* IE10+ */
		background: linear-gradient(to bottom, #bed300 0%,#afc800 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed300', endColorstr='#afc800',GradientType=0 ); /* IE6-8 */
	}
	&.btn-orange{
		background-color: #e8930c;
		background: -moz-linear-gradient(top, #eda90e 0%, #e8940c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eda90e), color-stop(100%,#e8940c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eda90e 0%,#e8940c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eda90e 0%,#e8940c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eda90e 0%,#e8940c 100%); /* IE10+ */
		background: linear-gradient(to bottom, #eda90e 0%,#e8940c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eda90e', endColorstr='#e8940c',GradientType=0 ); /* IE6-8 */
		text-shadow: 1px 2px 1px #d18711;
		-webkit-box-shadow: inset 0px -3px 0px 0px #d18711;
		-moz-box-shadow: inset 0px -3px 0px 0px #d18711;
		box-shadow: inset 0px -3px 0px 0px #d18711;
		&::before{
			background: #d18711;
		}
		&:active{
			-webkit-box-shadow: inset 0px 3px 0px 0px #d18711;
			-moz-box-shadow: inset 0px 3px 0px 0px #d18711;
			box-shadow: inset 0px 3px 0px 0px #d18711;
		}
	}
	&.btn-green{
		border: 1px solid $btn-color;
		&:hover{
			background:$white;
			color:$btn-color;
		}
	}
	&.btn_medium {
		padding: 13px 20px 16px;
		height: auto;
		line-height: 1;
		font-size: 18px;
		font-weight: bold;
	}
	&.btn_small {
		padding: 8px 14px 11px;
		height: auto;
		line-height: 1;
		font-size: 18px;
		font-weight: bold;
	}
    &.btn_grey {
      background: #babdc2;
      box-shadow: inset 0px -3px 0px 0px #A9AEB4;
      &:before {
        background: #A9AEB4;
      }
      &:active {
        box-shadow: inset 0px 3px 0px 0px #A9AEB4;
      }
    }
}


.btn.credit-calc {
	text-decoration: none;
	color: #0053a0;
	background: none;
	width: auto;
	height: auto;
	padding: 0.3125rem;
	float: right;
	text-align: left;
	margin: 0;
	.icon {
		display: block;
		float: left;
		&::before {
			width: 26px;
			height: 37px;
			margin-right: 7px;
		}
	}
	&:hover{
		color: $ddgray;
		span.link{
			color: $ddgray;
		}
	}
	.link {
		border-bottom: 1px dotted #a1a1a1;
	}
}


//уменьшаем размер кнопки и ее положение на мобильных устройствах

.cbh-ph-circle-red,
.cbh-ph-circle1-red,
.cbh-ph-circle2-red,
.cbh-ph-circle-fill-red {
	@include r($mob) {
			display: none !important;
		}
}

.cbh-phone {
	@include r($mob) {
		width: 65px !important;
		height: 65px !important;
		left: auto !important;
		top: auto !important;
		right: 20px !important;
		bottom: 20px !important;
		.cbh-ph-img-circle-red {
			top: 0 !important;
			left: 0 !important;
		}
	}
	
}

//уменьшаем размер кнопки и ее положение на мобильных устройствах

.btn-anchor {
	font-size: 20px;
	text-decoration: underline;
	display: block;
}

