.main-section.catalog{
	//width: 950px;
	padding: 0 !important;
	.main-container{
		padding-left: 10px;
		.main-title{
			margin-top: 0;
		}
		.slider {
			margin-top: 25px;
			// height: 295px;
			// overflow: hidden;
			img{
				width: 100%;
			}
			@include r($desktop-m){
				margin-top: 10px;
				// height: auto;
				// max-height: 295px;
			}
		}
		figure {
			margin: 0;
		}
	}
}
.sidebar {
	> .row.promo-box {
		margin-top: 40px !important;
	}
}  
.sidebar.catalog{ 
	margin: 0;
	//margin-left: 50px;
	padding-top: 80px;
}
.sidebar.sidebar_no-padding {
	padding-top: 0;
	.row.product-side:first-child {
		margin-top: 26px !important
	}
}
.sidebar.sidebar_main-page {
	padding-top: 280px;
} 
.product-side{
	margin-bottom: 30px !important;
	width:190px;
	border:1px solid $border;
	&:hover {
		.title {
			color: $blue !important;
		}
	}
	a{
		margin: 0 !important;
		&:hover {
			//.title{
				color: #000;
			//}
		} 
	}
	.img{
		//height: 126px;
		//width: 100%;
		//background: #f1f1f1;
		display: table;
		position: relative;
		> div{	
			text-align: top;
			display: table-cell;
			vertical-align: top;
		}
		.sticker {
			top:-7px;
		}
		img{
			display: block;
			margin: 0 auto;
			}
	}
	&.review-product_side {
		.img img {
			max-width: 80px;
			max-height: 80px;
		}
	}
	.text{
		padding: 14px 18px 7px 18px;
		background: #ffffff;
		& a,
		& .title{
			font-size: 14px;
			color: $ddgray;
			font-weight: 700;
			display: block;
			line-height: 1.4;
			margin: 3px 0 8px;
		}
	}
	&.sale{
		.text{
			h6{
				color: $red;
			}
		}
	}
	&.no-border {
		border: 0;
		a {
			font-size: 14px;
		}
		.img {
			margin-bottom: 5px;
		}
		.btn {
			width: 110px;
			height: 40px;
			line-height: 40px;
			font-weight: 700;
		}
  }
  .compare-block {
    margin-top: 5px;
    .compare-button {
      font-size: 13px;
    }
  }
}
.row.product-item-wrap {
	// margin-top: 40px;
	margin-bottom: 30px;
	font-size: 0;
	margin-left: -10px !important;
	margin-right: -10px !important;
	@include r($mob) {
		margin-bottom: 25px;
	}
	@include r(650){
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	+ .other-products {
		margin-top: 20px;
	}
	.title {
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
		color: $ddgray;
		@include r($mob) {
			padding: 0 10px;
			font-size: 14px;
		}
		@include r(650) {
			padding: 0;
		}
	}
	.column, .columns {
		padding: 0 10px !important;
		&:last-child {
			float: left;
		}
		@include r($mob){
			padding: 0 !important;
		}
	}
}
.product-item-holder {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 0 10px;
	@include r(900) {
		width: 50%;
	}
	@include r(650) {
		width: 100%;
		padding: 0;
	}
}
.product-item {
	overflow: hidden;
	display: block;
	margin-bottom: 20px;
	padding: 8px; 
	border: 2px solid #ddd; 
	@include r($mob) {
		margin-bottom: 10px;
	}
	&.is-marked {
		border-color: #ffba00
	}
	&:hover {
		.product-item__title {
			color: $ddgray;
		}
	}
  &__img{
    float: left;
    margin-right: 20px;
    width: 120px;
    height: auto;
    @include r(767){
      width: 52px;
      margin-right: 10px;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__main{
    overflow: hidden;
  }
  &__title{
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
    color: #0053a0;
    @include r(767){
      font-size: 14px;
      margin-top: -3px;
      margin-bottom: 5px;
    }
  }
  &__meta{
    font-size: 14px;
    border: 0 !important;
    color: #a4a4a4;
    @include r(767){
      font-size: 12px;
      line-height: 1;
    }
  }
}

.product-item-collection-in {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
  .product-item_notice {
    .product-item__main {
      @include r($mob) {
        min-height: 90px;

      }
    }
  }
  .product-item {
    margin: 0 10px 20px 10px;
    width: 30%;

    @include r($mob) {
      width: 46%;
    }
    @include r(650) {
      margin: 0 0 20px 0;
      width: 49%;
    }
    @include r(450) {
      width: 100%;

      &__main {
        display: block;

      }


    }
    &:hover {
      .slick-prev, .slick-next {
        visibility: visible;
        opacity: 1;

        @include r($tablet) {
          visibility: hidden;
          opacity: 0;
        }
      }
    }



    .product-item__img {
      float: none;
      margin-right: 0;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      img {
        //max-height: 110px;
      }
      .no-image {
        object-fit: cover;
        height: 110px;
      }

      .slick-prev {
        left: -12px;
        &:before {
          float: left;
          background-position: -270px -90px;
        }
      }
      .slick-next {
        right: -12px;
        &:before {
          float: right;
          background-position: -300px -90px;
        }
      }

      .slick-prev, .slick-next {
        z-index: 1000;
        top: calc(50% - 29px);
        margin: 0;
        width: 40px;
        height: 58px;
        padding: 10px 5px;
        visibility: hidden;
        opacity: 0;
        background: none;
        border: none;
        box-shadow: none;
        &:before {
          content: '';
          background-image: url(../img/icons.png);
          width: 17px;
          height: 38px;
          border: 0;
          position: relative;
          top: 0;
          left: 0;
          margin: 0;
        }

      }
      .slick-list {
        padding: 0;
      }
    }

  }
  .product-item_notice {
    .product-item__main {
      position: relative;
      padding-bottom: 35px;
      min-height: 115px;
      display: block;
    }
    .withdrawn-from-sale {
      position: absolute;
      bottom: 0;
      left: 0;
      width: auto;
      height: 26px;
      margin: 0;
      padding: 6px 14px;
      overflow: hidden;
      text-align: center;
    }
  }

  .product-item__img {
    float: left;
    margin-right: 20px;
    width: 120px;
    height: auto;
    // height: 115px;
    @include r($mob) {
      width: 52px;
      margin-right: 10px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;

    }
  }
  

  .product-item__main {
    overflow: hidden;
  }
  .product-item__title {
    text-decoration: underline;
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
    color: #0053a0;
    @include r($mob) {
      font-size: 14px;
      margin-top: -3px;
      margin-bottom: 5px;
    }
  }
  .product-item__meta {
    font-size: 14px;
    border: 0 !important;
    color: #a4a4a4;
    @include r($mob) {
      font-size: 12px;
      line-height: 1;
    }
  }
}



  .categories {
    margin-bottom: 56px;
    @include r($mob) {
      margin-bottom: 0;
    }
    &__inner {
      font-size: 0;
      display: flex;
      justify-content: space-between;
      // align-content: center;
      flex-flow: row wrap;
      margin: 0 -25px;
      @include r($mob) {
        margin: 0;
      }
      @include r($mob-sm) {
        display: block;
      }
    }
    .title {
      font-size: 14px;
      line-height: 14px;
      color: $blue;
      a {
        font-size: 16px;
        line-height: 21px;
        padding-right: 32px;
        color: #0053a0;
        vertical-align: top;
        display: block;
        @include r($mob) {
          font-weight: 700;
          text-decoration: underline;
        }
        .underline {
          border-bottom-color: #0053a0;
        }
        &:hover {
          color: $ddgray;
          span {
            border-bottom-color: $ddgray;
          }
        }
      }
      h6 {
        font-size: 13px;
        line-height: 13px;
        color: #999999;
        margin-top: 7px;
        margin-bottom: 10px;
      }
    }
    // .row{
    // 	background: $white;
    // }
    // .row-line{
    // 	display: table-row;
    // }
    .img {
      position: relative;
      overflow: hidden;
      border: 1px solid #dddddd;
      height: 95px;
      width: 140px;
      margin-bottom: 20px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }

  .category {
    vertical-align: top;
    width: 100%;
    max-width: 140px;
    margin: 0 25px;
    padding: 0 0 25px 0;
    display: inline-block;
    @include r($mob) {
      max-width: none;
      margin: 0;
    }
    @include r($mob-sm) {
      display: block;
    }
  }

  .bottom-previews {
    .slick-slider {
      height: auto !important;
    }
  }

.blog-article {
  margin-top: 40px !important;
  width: 190px;
  a {
    display: block;
    padding: 20px 20px 23px 20px;
    // padding: 20px 20px 23px 20px !important;
    @include r($mob) {
      padding: 10px;
      @include clearfix();
    }
  }

  .title {
    color: $title;
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 22px;
    word-spacing: 0;
    padding-left: 0;
    padding-right: 10px;
  }
  .column {
    background: #eef6f9;

    @include r($mob) {
      margin-bottom: 25px;
    }
    .img {
      padding: 12px 0;
      background: $white;
      margin-bottom: 21px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    a:hover .subtitle {
      color: $ddgray;
    }
    .text {
      margin-top: 17px;
      .subtitle {
        color: $blue;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .content {
        color: $ddgray;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 19px
      }
    }

    &.column_blog-article {
      width: 48.47%;
      padding: 20px;
      position: relative;
      @include r($mob) {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 15px;
      }

      a {
        padding: 0 !important;
      }
      .img {
        width: 100%;
        position: relative;
        //float: left;
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 100%;
        }
      }
      .text {
        margin-top: 0;
        //padding-left: 20px;
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        .content {
          display: none;
        }
      }
      .subtitle {
        font-size: 14px;
      }
    }
  }

  &.vertical {
    //padding-top:25px !important;
    margin-top: 45px !important;
    border-top: 1px solid $border;
    @include r($mob) {
      display: block;
      width: 100%;
    }

    .inner {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      @include r($mob) {
        flex-direction: column;
      }

      .column {
        float: none;
      }
      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .subtitle {
        margin-bottom: 15px;
      }
    }
    // .column{
    // 	width: 48.47%;
    // 	@include r($mob){
    // 		float: none;
    // 		width: 100%;
    // 		max-width: 300px;
    // 		margin: 0 auto;
    // 	}
    // }
    // .img{
    // 	width: 33%;
    // 	position: relative;
    // 	float: left;
    // 	margin: 0;
    // }
    // .text{
    // 	margin-left: 33%;
    // 	margin-top: 0;
    // 	padding-left: 20px;
    // }
  }
}
.catalog-brands {
  margin-top: 55px !important;
  @include r($mob) {
    margin-top: 0 !important;
  }
  .img {
    overflow: hidden;
    border: 1px solid $border;
    height: 95px;
    width: 140px;
    margin-bottom: 20px;
    @include r($mob) {
      display: none;
    }
  }
  .icon {
    background: #eef6f9;
    height: 95px;
    width: 140px;
    margin-bottom: 20px;
    @include r($mob) {
      display: none;
    }
  }
  ul {
    margin: 0;
    font-size: 0;
    li {
      list-style: none;
      line-height: 19px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      @include r($mob) {
        display: inline-block;
        width: 33%;
      }
      @include r($mob-sm) {
        width: 50%;
      }
      .link {
        font-size: 13px;
        line-height: 20px;
        color: $ddgray;
        display: table;
        @include r($mob) {
          font-size: 14px;
          text-transform: uppercase;
        }
        span {
          border-bottom: 1px solid #878787;
        }
        &:hover {
          color: $blue;
          span {
            border-bottom-color: $blue;
          }
        }
      }

      &.desk-visible {
        border-top: none;
        border-bottom: none;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
      }
      // .column{
      // 	width: 48.47%;
      // }
      // .img{
      // 	width: 33%;
      // 	position: relative;
      // 	float: left;
      // 	margin: 0;
      // }
      // .text{
      // 	margin-left: 33%;
      // 	margin-top: 0;
      // 	padding-left: 20px;
      // }
    }
  }
}
.row.not-collapse {
  .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}
