.contacts {
	position: relative;
	padding: 20px 0 0;
	margin-bottom: 55px !important;
	font-size: 16px;
	@include r($tablet) {
		margin-bottom: 20px !important;
	}
	&__item {
		display: inline-block;
		width: 50%;
		@include r($tablet) {
			width: 48%;
		}
		@include r($mob) {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			div:not(.contacts__title):not(.contacts__tel) {
				font-size: 13px;
			}
		}
	}
	ul {
		margin: 0 0 25px;
		list-style-type: none;
	}
	li {
		margin-bottom: 5px;
		line-height: 1.3;
	}
  &__hint-content{
    @include rmin(1024){
      position: absolute;
      top: calc(100% + 15px);
      left: 0;
      width: 100%;
      padding: 16px 30px 26px 28px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #dddddd;
      background-color: #ffffff;
      z-index: 4;
      display: none;
      &:before{
        position: absolute;
        content: '';
        display: block;
        left: 18px;
        top: -8px;
        width: 18px;
        height: 18px;
        border: 1px solid #dddddd;
        border-color: #dddddd #ffffff #ffffff #dddddd;
        background-color: #ffffff;
        transform: rotate(45deg);
      }
    }
  }
  &__hint-wrap{
    position: relative;
    @include rmin(1024){
      &:hover{
        .contacts__hint-content{
          display: block;
        }
      }
    }
  }
}
.contacts__title {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}
.contacts__tel {
	margin: 12px 0 20px;
	font-size: 41px;
	line-height: 1;
	color: #bdce00;
	@include r($mob) {
		font-size: 30px;
	}
}
.modal-toggle {
	display: inline-block;
	line-height: 1;
	color: #0053a0;
	border-bottom: 1px dotted;
	font-size: 14px;
	cursor: pointer;
	&:hover {
		color: $ddgray;
	}
}
.work-time {
	position: relative;
	margin-bottom: 32px;
	padding-left: 65px;
	@include r($mob) {
		margin-bottom: 25px;
	}
	div {
		@include r($mob) {
			font-size: 14px;
		}
	}
	span {
		color: #ed1c24;
	}
	small {	
		display: inline-block;
		line-height: 1.3;
		font-size: 14px;
		color: #999;
		@include r($mob) {
			font-size: 13px;
		}
	}
	sup {
		font-size: 13px;
		vertical-align: super;
		@include r($mob) {
			font-size: 10px;
		}
	}
}
.work-time__icon {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}

.map {
	position: relative;
	margin: 0 0 70px;
	@include r($tablet) {
		margin-bottom: 35px;
	}
}
.map__in {
	overflow: hidden;
	border: 1px solid #ddd;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	@include r($mob) {
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	iframe {
		display: block;
		width: 100%;
		@include r($mob) {
			height: 205px;
		}
	}
}

.branch-item {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  padding-bottom: 60px;
  padding-top: 10px;
  @include r($mob) {
  	display: block;
  	width: 100%;
  	padding-bottom: 10px;
  }
  a {
    text-decoration: underline;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    @include r($mob) {
    	margin-bottom: 5px;
    }
  }
  h4 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    @include r($mob) {
    	font-size: rem-calc(13);
    	line-height: rem-calc(21);
    }
  }
  p {
    margin-bottom: .8rem;
    @include r($mob) {
    	margin-bottom: rem-calc(10);
    	font-size: rem-calc(13);
    	line-height: rem-calc(21);
    }
  }
  a{
  	@include r($mob) {
    	font-size: rem-calc(14);
    	line-height: rem-calc(23);
	}
  }
  .contacts__tel {
    margin: 12px 0 15px;
	@include r($mob) {
		margin: 5px 0 10px;
	}
  }
}
