.sidebar{
	.filters-content{
		margin-top: 20px;
		.accordion-navigation{
			.title{
				background: #f4f4f4;
			}
		}
	}
	.active-filters{
		&.row {
			padding: 20px 15px;
		}
	}
}

.filters{
	&.filters_sidebar{
		padding-top: 60px;
		> .row {
			margin-top: 20px !important;
		}
		.title{
			margin-bottom: 15px;
			word-spacing: 0px;
			margin: 0 0 15px;
			display: block;
			height: 28px;
			h6{
				font-weight: $bold;
				font-size: 13px;
				color: $ddgray;
				text-transform: uppercase;
				margin: 0;
				float: left;
			}
		}
		dl dt,a,span{
			font-weight: $norm;
			color: $ddgray;
			font-size: 13px;
			margin: 0;
			outline: 0;
			line-height: normal;
		}
		span {
			line-height: 1.2;
			label {
				line-height: 1.2;
			}
		}
		a {
			color: $blue;
			span{
				color: $blue;
				border-bottom-color: $blue;
			}
			&.title{
				color: $ddgray;
				span{
					color: $ddgray;
					border-bottom-color: $ddgray;
					border: 0;
					font-size: 76%;
					font-weight: 700;
				}
				&:hover{
					color: $ddgray;
					span{
						color: $ddgray;
						border-bottom-color:$ddgray; 
					}
				}
			}
		}
	}
}

.filters-content{
	//margin-top: 20px;
	.accordion-navigation{
		margin-bottom: 6px !important;
		&:last-child{
			margin-bottom:0 !important;
		}
		&.active{
			.title::after{
				margin-top: 0;
				transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
			}
		}
		.title{
			background: #f4f4f4;
			display: block;
			width: 100%;
			margin: 0;
			padding: 5px 10px;
			line-height: 13px;
			&::after{
				content:url(../img/caret-sm.png);
				float: right;
				margin-top: 5px;
				transform: rotate(-180deg);
				-moz-transform: rotate(-180deg);
				-webkit-transform: rotate(-180deg);
			}
		}
	}
	.content{
		padding-top: 11px;
		padding-bottom: 4px;
		padding-left: 9px;
		padding-right: 9px;;
		input{
			display: block;
			width: 100%;
			border:1px solid #abadb3;
			font-size: 14px;
			color: #999999;
			padding: 4px 2px;
		}
		label{
			font-size: 13px;
			line-height: 13px;
			padding-left: 30px;
			padding-right: 0;
			color: #0053a0;
			font-size: 13px;
			font-weight: $norm;
			span{
				color: $llgray;
				padding-left: 5px;
			}
			&:hover{
				color: $ddgray;
			}
		}
		.postfix{
			content: '';
			line-height: 14px;
			display: block;
			margin: 0 9px;
			height: 14px;
			text-align: center;
			border-bottom: 1px solid #999999;
		}
		&:not(#foo) input[type='checkbox']:checked + label{
			background-image: url(../img/check-blue.png);
		}
		&:not(#foo) input[type='checkbox'] + label{
			background-image: url(../img/uncheck-blue.png);
		}
		> span{
			margin-bottom: 6px;
		}
		.show-all{
			color: $ddgray;
			span{
				color: $ddgray;
				border-bottom: 1px dotted $ddgray;
			}
			&:hover{
				color: $blue;
				span {
					color: $blue;
					border-bottom-color: $blue;
				}
			}
		}
	}
}

.active-filters{
	background: #f4f4f4;
	.title{
		font-size: 13px;
		height: auto;
		line-height: 13px;
		margin: 0px 0px 12px;
	}
	.footer-filters {
		line-height: 1;
		.del-all{
			font-weight: $norm;
			color: $blue;
			font-size: 13px;
			margin: 0;
			outline: 0;
			line-height: normal;
			span {
				line-height: 1.2;
				color: $blue;
				border-bottom: 1px solid;
				border-bottom-color: $blue;
			}
			a {
				color: $blue;
				span{
					color: $blue;
					border-bottom-color: $blue;
				}
			}
		}

		.del-all:hover span{
			color: $ddgray;
			border-bottom-color: transparent;
		}
	}
}

.type-filters{
	color: $llgray;
	margin: 7px 0px 4px;
	dl, dt, a {
		font-weight: 400;
		color: #333;
		font-size: 13px;
		margin: 0;
		outline: 0;
		line-height: normal;
	}
	dt{
		margin-bottom: 4px;
		line-height: 1;
	}
	dd{
		color: $llgray;
		margin-bottom: 2px;
		line-height: 1;
	}
	
	.del{
		.icon{
			background: none;
			border: none;
			margin-right: 5px;
			span{
				font-size: 13px;
			}

			&::before{
				content: url(../img/sm-del.png);
				margin: 0;
				border: none;
			}
		}
		&:hover{
			color: $ddgray;
			span{
				color: $ddgray;
				border-bottom-color:$ddgray; 
			}
		}
	}
	.text{
		color: $llgray;
		border: none;
	}
}


.main-container{
	padding: 0 !important;
	//width: 970px !important;
	&.filters{
		padding-left: 0px !important;
		> .row > .column.medium-9{
			width: 735px;
			@include r($tablet) {
				width: 100%;
			}
		}
		> .row > .column.medium-3{
			margin-left: 45px;
			padding-top: 7px;
			width: 190px;
		}
		.sorting{
			margin-bottom: 15px;
			@include r($mob) {
				margin-bottom: 20px;
			}
			// li, li > p, h6{
			// 	line-height: 38px;
			// }
			// a, p, h6{
			// 	display: block;
			// 	color: $ddgray;
			// 	font-size: 13px;
			// }
			.toogle-tab{
				@include r($tablet) {
					display: none;
				}
					.text{
						float: left;
						margin: 9px 10px;
					}
					.toogle{
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						overflow: auto;
						padding: 0;
						border: 1px solid #dddddd;
						width: auto;
						margin: 0;
						display: table;
						float: right;
						button{
							padding: 6px 7px;
							background: #fff;
							-webkit-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
							-moz-box-shadow: inset 0px -3px 0px 0px #e6e8eb;
							box-shadow: inset 0px -3px 0px 0px #e6e8eb;
							display: block;
							float: left;
							border: 0;
							outline: 0;
							.icon{
								&::before{
									width: 21px;
									height: 16px;
									margin: 0;
								}
								&.grid::before{
									background-position: -327px -89px;
								}
								&.list::before{
									background-position: -327px -112px;
								}
							}
							&:hover,
							&.active{
								background: #dddddd;
								border-top-color: #ababab;
								border-left-color: #ababab;
								-webkit-box-shadow: inset 1px 1px 0px 0px #ababab;
								-moz-box-shadow: inset 1px 1px 0px 0px #ababab;
								box-shadow: inset 1px 1px 0px 0px #ababab;
							}
						}
					}

			}
			// ul.sortfrom{
			// 	li{
			// 		padding-left: 20px;
			// 		@include r($mob) {
			// 			padding-left: 0;
			// 			padding-right: 20px;
			// 			line-height: 20px;
			// 		}
			// 		&:first-child{
			// 			padding-left:0;
			// 			@include r($mob) {
			// 				float: none;
			// 				margin-bottom: 5px;
			// 			}
			// 		}

			// 		p{
			// 			margin: 0;
			// 			@include r($mob) {
			// 				line-height: 20px;
			// 			}
			// 		}
			// 		a{
			// 			span{
			// 				border-bottom: 1px solid $ddgray;
			// 			}
			// 			&:hover{
			// 				color: $blue;
			// 				span{
			// 					border-bottom-color: $blue;
			// 				}
			// 			}
			// 		}
			// 		&.active{
			// 			a,p,span{
			// 				font-weight: $bold;
			// 				border-bottom: 0;
			// 			}
			// 			a {
			// 				pointer-events: none;
			// 			}
			// 		}
			// 	}
			// }
		}
		.filters-content{
			border-top: 1px solid #dddddd;
			@include r($desktop-m) {
				// padding: 0 20px;
			}
			@include r($mob) {
				border-top: none;
			}
			.items{
				@include r($tablet) {
					margin-right: -20px;
				}
				@include r($mob) {
					margin-right: 0;
				}
				a:hover{
					color: $ddgray;
					span{
						border-bottom-color:$ddgray;
					}
				}
				.item-filtered{
					display: inline-block;
					background: white;
					margin-left: 0px;
					width: calc(25% - 20px);
					margin-right: 20px;
					margin-bottom: 10px;
					margin-top: 10px;
					// width: 220px;
					height: 525px;
					z-index: 1;
					position: relative;
					@include r($tablet) {
						width: calc(33% - 20px);
					}
					&:last-child {
						float: left !important;
					} 
					@include r($mob) {
						width: 100%;
						margin: 0;
						height: auto;
						border-top: 1px solid #dddddd;
						padding-bottom: 20px;
					}
					.hidden{
						max-width: 240px;
						width: 100%;
						margin: 0 auto;
						padding: 20px 0 20px 0;
						position: relative;
						@include clearfix();
						overflow: hidden;
						position: relative;
						padding: 20px 0 20px 0;
						@include r($mob) {
							max-width: none;
							padding: 0;
						}
						&:before {
							content: "";
							position: absolute;
							top: -20px;
							left: -20px;
							right: -20px;
							bottom: -20px;
							height: 100%;
							z-index: -1;
							display: none;
							border: 1px solid #dddddd;
							background: #ffffff;
							box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
						}
					}
					.title-block{
						min-height: 55px;
						display: block;
						width: 100%;
						margin-bottom: 15px;
						position: relative;
						.title{
							position: absolute;
							height: auto;
							display: table;
							bottom: 0;
							font-weight: bold;
							font-size: 14px;
							line-height: 1.3;
							&:hover h4{
								color: $ddgray;
							}
							h4{
								color: $blue;
								font-size:14px;
								font-weight: $bold;
								line-height: 16px;
								margin: 0;
							}
						}
					}
					.img-block{
						background: white;
						text-align: center;
						position: relative;
						width: 100%;
						border: 5px solid #f4f4f4;
						height: 200px;
						display: block;
						@include r($mob) {
							float: left;
							max-width: none;
							width: 120px;
							height: 100px;
							margin-right: 15px;
						}
						// @include rland($mob, $mob-sm) {
						// 	max-width: 220px;
						// 	width: 100%;
						// 	min-height: 140px;
						// 	height: 100%;
						// 	position: absolute;
						// }

						.sticker {
							.new, .markdown, .sale{
							left: -2px;
							top: -7px;
							}
						}
						.orbit-container{
							vertical-align: middle;
							overflow: visible; 
							 .orbit-slides-container{
							 	overflow: hidden;
							 }
							 .slick-prev {
							 	left: -19px;
							 	&:before{
							 		float: left;
									background-position: -270px -90px;
								}
							 }
							.slick-next {
								right: -19px;
								&:before{
									float: right;
									background-position: -299px -90px;
								}
							}

							.slick-prev,.slick-next{
								top: 70px;
								margin: 0;
								width: 40px;
								height: 58px;
								padding: 10px 5px;
								visibility: hidden;
								opacity: 0;
								background: none;
								border: none;
								box-shadow: none;
								&:before{
									content: '';
									background-image: url(../img/icons.png);
									width: 17px;
									height: 38px;
									border: 0;
									position: relative;
									top: 0;
									left: 0;
									margin: 0;
								}
							}
						}
						img{
							display: block;
							margin: 0 auto;
							@include r($mob) {
								max-height: 90px;
							}
						}
					}
					.info-block {
						@include r($mob) {
							display: flex;
							width: calc(100% - 140px);
							flex-direction: column;
							flex-wrap: wrap;
						}
					}
					.price-block{
						@include clearfix();
						padding: 15px 0;
						border-bottom: 1px solid $border;
						@include r($mob) {
							order: 2;
							padding: 0;
							border-bottom: none;
							.right {
								float: none !important;
							}
						}
                      @include r($mob-sm) {
                        display: flex;
                        flex-wrap: wrap;
                      }
							.price{
								font-weight: 700;
								font-size: 21px;
								color: $ddgray;
								margin: 0;
								@include r($mob) {
									margin-bottom: 5px;
									margin-right: 20px;
								}
								sup{
									font-size: 13px;
									top: -6px;
								}
							}
							.btn.gradient{
								margin-top: 0;
								width: 100px;
								height: 35px;
								line-height: 12px;
								display: inline-block;
								font-size: 14px;
								font-weight: 700;
								padding: 10px 0;
								color: #fff;
								text-align: center;
							}
					}
					.favorites{
						display: none;
						padding:9px 0 15px 0;
						@include r($mob) {
							display: none;
						}
					}
					.compare-block{
						padding: 12px 0;
						@include r($mob) {
                          padding-top: 0;
						}
                        @include r($mob-sm) {
                          order: 2;
                        }
					}

					.favorites,
					.compare-block{
						.icon::before{
							margin-right: 5px;
						}
						.link{
							font-size: 13px;
							color: $ddgray;
							font-weight: 400;
                          @include r($mob-sm) {
                            font-size: 12px;
                          }
						}
						a:hover{
							color:$blue;
							span{
								color:$blue;
								border-bottom-color: $blue;
							}
						}
					}
					.comment{
						margin: 10px 0 20px;
						@include r($mob) {
							order: 1;
							margin: 0 0 10px;
						}
						.all,.readmore{
							font-size: 13px;
							font-weight: 400;
							color: $ddgray;
							line-height: 1.3;
							display: inline-block;
							transition:opacity .1s;
						}
						.all{
							height: 32px;
							overflow: hidden;
							&::after{
								content:' ...';
							}
							@include r($mob) {
								display: none;
								&:after {
									content: none;
								}
							}
						}
						.readmore{
							height: 0;
							opacity: 0;
							display: block;
							@include r($mob) {
								display: block;
								opacity: 1;
								height: auto;
							}
						}
					}
					.count-comments{
						@include r($mob) {
							display: none;
						}
						.icon{
							float: left;
							margin: 0;
						}
						span{
							color: #999;
							font-size: 13px;
							border: 0;
							margin-top: -2px;
							display: block;
						}
						&:hover{
							color:$blue;
							span{
								color:$blue;
								border-bottom-color: $blue;
							}
						}
					}
					.footer{
						margin: 0px -19px 0px -19px;
						padding: 15px 14px;
						top: 0;
						position: relative;
						display: none;
						background: #eef6f9;
						.btn{
							width: 48%;
							height: auto;
							text-align: left;
							margin: 0;
							&:last-child{
								float:right;
							}
							&.default{
								padding: 8px 14px;
							}
							&.credit-calc{
								padding: 6px 5px;
							}
						}
						.icon {
							@include r($desktop-m) {
								display: none;
							}
						}
					}
					&.desk-visible{
						// margin-right: 0;
						// width: 255px;
						// margin-left: -13px;
						z-index: 5;
						.hidden{
							z-index: 5;
							// padding: 19px 21px 0 17px;
							// border: 1px solid #dddddd;
							// background: #ffffff;
							// box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
							overflow: visible;
							&:before {
								display: block;
							}
						}
						.orbit-container{
							.slick-prev,.slick-next{
								visibility: visible;
								opacity: 1;
							}
						}
						.comment .readmore{
							height: auto;
							opacity: 1;
						}
						.comment .all,
						.comment .all::after{
							opacity: 0;
							height: 0;
							display: block;
						}
						.footer,
						.favorites{
							height: auto;
							display: block;
						}
					}
				}
				&.grid{
					@include r($tablet) {
						margin-right: 0;
					}
					.item-filtered{
						width: 100%;
						height: auto;
						margin: 0 0 20px;
						padding: 0;
						&.desk-visible{
							width: 106%;
							padding: 0;
							height: auto;
							margin: 0px -30px 20px -14px;
							.hidden{
								padding: 19px 19px 20px 19px;
							}
						}
						.hidden{
							max-width: none;
							padding: 19px 0 20px 5px;
							@include r($mob) {
								max-width: none;
								padding: 70px 0 20px;
							}
							&:before, &:after {
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
							}
						}
						.border-bottom{
							border-bottom:1px solid $border;
							padding-bottom: 15px;
							margin-bottom: 15px; 
							@include r($mob) {
								display: none;
							}

						}
						.margin-left{
							width: 498px;
							margin-left: 17px;
							float: left;
							@include r($tablet) {
								width: 476px;
							}
							@include r($mob) {
								width: calc(100% - 140px);
								margin-left: 0;
							}
							.title{
								position: relative;
								display: block;
							}
						}
						.img-block{
							width: 215px;
							float: left;
							max-height: 200px;
							@include r($mob) {
								float: left;
								max-width: none;
								width: 120px;
								height: 100px;
								margin-right: 15px;
							}
						}
						.title-block{
							display: block;
							min-height: 1px;
							margin-bottom: 10px;
							@include r($mob) {
								position: absolute;
								height: 36px;
								overflow: hidden;
								margin-left: -135px;
								margin-bottom: 0;
								top: 20px;
							}
						}
						.left{
							width: 116px;
							&.price-block {
								@include r($mob) {
									width: auto;
									display: inline-block;
								}
							}
						}
						.right{
							width: 376px;
							@include r($tablet) {
								min-width: 350px;
								width: auto;
							}
						}
						.favorites,
						.compare-block{
							padding: 0;
							margin: 0;
							width: 50%;
						}
						.favorites{
							float: left;
						}
						.compare-block{
							float: right;
						}
						.price-block{
							@include r($mob) {
								margin-bottom: 10px;
								&.right {
									min-width: auto;
									float: none !important;
								}
							}
							.gradient{
								margin-right: 5px;
								width: 105px;
								float: left;
							}
							.default{
								width: 153px;
								margin-right: 1px;
								float: left;
							}
							.credit-calc{
								width: 110px;
								margin-top: -8px;
								float: left;
								@include r($tablet) {
									width: 75px;
								}
								.link {
									font-size: 12px;
									font-weight: 400;
								}
								@include r($tablet) {
									.calc {
										display: none;
									}
								}
							}
						}
						.footer{
							background: none;
							padding: 0;
						}
						.price-block{
							padding: 0;
							border: 0;
						}
						.comment .all,
						.compare-block,
						.footer,
						.favorites{
							opacity: 1;
							height: auto;
							display: block;
							margin: 0;
						}
                      .info-block{
                        &_list{
                          .compare-block{
                            &_list{
                              display: none;
                              @include r($mob){
                                display: block;
                                padding-bottom: 12px;
                                float: none;
                                width: auto;

                              }
                              @include r($mob-sm){
                                order: 2;
                              }
                            }
                            &_list-lg{
                              display: block;
                              @include r($mob){
                                display: none;
                              }
                            }
                          }
                          .comment{
                            @include r($mob){
                              order: 0;
                            }
                          }
                          .price-block{
                            @include r($mob-sm){
                              float: none!important;
                            }
                          }
                        }
                      }
					}
				}
			}
		}
	}
}
.is-hidden-box {
	display: none;
	> span {
		margin: 0;
		display: block;
		width: 100%;
		float: left;
		margin-bottom: 4px;
	}
}

.filters-container {
	position: relative;
	margin-bottom: 25px;
	@include r($tablet) {
		.main-deskrip {
			margin-left: 320px;
			margin-bottom: 0;
			padding-top: 5px;
			line-height: 1.4;
			height: 45px;
		}
	}
	@include r($mob) {
		margin-bottom: 0;
		.main-deskrip {
			margin-left: 0;
			margin-bottom: 10px;
			height: auto;
		}
	}
	&.is-active {
		border: 1px solid $ddgray; 
		.filters-btn {
			max-width: 100%;
			border: none;
			border-bottom: 1px solid #333;
			.close-x-btn {
				display: block;
			}
		}
		@include r($mob) {
			.main-deskrip {
				margin-left: 10px;
			}
		}
	}
}

// .filters-title {
// 	margin-bottom: 30px;
// }

.filters-btn {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 300px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: $ddgray;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #efeeee;
	border: 1px solid $ddgray;
	@include r($tablet) {
		display: block;
	}
	@include r($mob) {
		position: relative;
		margin-bottom: 10px;
	}
	.close-x-btn {
		display: none;
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -10px;
		width: 20px;
		height: 20px;
		z-index: 10;
		&:before, &:after {
			content: "";
			position: absolute;
			top: 10px;
			right: 0;
			height: 1px;
			width: 20px;
			background-color: $ddgray;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

	}
}

.main-container.filters {
	.filters-mob {
		.filters-content{
			position: relative;
			max-height: 500px;
			border-top: none;
			.content {
				padding: 0;
			}
		}
		.accordion-navigation {
			.title {
				background: #FFF;
				padding: 5px 0; 
				&:after {
					display: none;
				}
			}
		}
	}
}

.filters-items {
	font-size: 0;
	.accordion-navigation {
		display: inline-block;
		width: 33%;
		vertical-align: top;
		padding-right: 20px;
	}
}

.filters-mob {
	display: none;
	@include r($tablet) {
		&.is-active{
			display: block;
		}
	}
	&__inner {
		padding: 20px;
	}
	.active-filters {
		background: none;
		border-bottom: 1px solid #dddddd;
		&.collapse {
			&.row {
				margin-bottom: 10px;
			}
		}
		.footer-filters {
			margin-bottom: 20px;
		}
	}
	.type-filters {
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 10px;
		&__title, &__content {
			display: inline-block;
			font-size: 13px;
			font-weight: 400;
			line-height: 17px;
		}
		&__title {
			color: $ddgray;
		}
		&__content {
			margin-left: 15px;
			color: #999;
		}
	}
	.accordion-navigation {
		a {
			&:hover {
				cursor: default;
			}
		}
	}
	.accordion-navigation_range {
		margin-bottom: 35px !important;
		.range {
			max-width: 480px;
		}
	}

	.filter-postfix-wrap{
		max-width: 35px;
		.postfix {
			line-height: 1;
			margin: -6px 9px 0;
			height: 1px;
			background: #999999;
		}
	}
}

.filters-mob .used-filters {
  background: #f4f4f4;
  margin: 20px 0;
  padding: 0 10px;
}

.filters-mob .used-filters .title {
  margin-bottom: 0;
}

.filters-mob .maxwidth {
  width: 100%;
}

.filters-mob .graybg {
  background: #f4f4f4;
}

.filters-mob .bottom-margin-0 {
  margin-bottom: 0;
}

.filter-input-wrap, .filter-postfix-wrap {
	display: inline-block;
	max-width: 60px;
	width: 100%;
}

.filters-content{
	.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, 
	.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x{
		background-color: #0391ff;
	}

	.ps-container:hover > 
	.ps-scrollbar-y-rail:hover 
	> .ps-scrollbar-y,
	.ps-container:hover > 
	.ps-scrollbar-x-rail:hover 
	> .ps-scrollbar-x{
		background-color: #0391ff;
	}

	.ps-container:hover.ps-in-scrolling.ps-y 
	> .ps-scrollbar-y-rail 
	> .ps-scrollbar-y,
	.ps-container:hover.ps-in-scrolling.ps-x 
	> .ps-scrollbar-x-rail 
	> .ps-scrollbar-x{
		background-color: #0391ff;
	}

	.ps-container.ps-in-scrolling.ps-y 
	> .ps-scrollbar-y-rail 
	> .ps-scrollbar-y,
	.ps-container.ps-in-scrolling.ps-x 
	> .ps-scrollbar-x-rail 
	> .ps-scrollbar-x{
		background-color: #0391ff;
	}
}

.accordion{
	&.accordion_filters {
		.accordion-navigation {
			.title {
				position: relative;
				&:after {
					margin-top: 0;
					position: absolute;
					top: 50%;
					margin-top: -4px;
					right: 10px;
				}
				h6 {
					margin-bottom: 0;
				} 
			}
			&.active {
				.title {
					&:after {
						margin-top: -10px;
					}
				}
			}
		}
		.title, .title h6 {
			display: block;
			margin-bottom: 10px;
			color: $ddgray;
			font-size: 13px;
			font-weight: 700;
			line-height: 17px;
			text-transform: uppercase;
		}
	}
}
// for modal window
.filtersPop {
	max-width: 400px;
	border: none;
	border-radius: none;
	&.open {
		.filters-mob__inner {
			padding: 0;
		}
		.filters-mob {
			display: block;
			
		}
		.main-deskrip, .active-filters {
			display: none;
		}

		.close-reveal-modal {
			display: inline-block;
			width: 25px;
			height: 25px;
		}

		.modal-header {
			position: relative;
			height: 60px;
			line-height: 60px;
			padding: 0 10px;
			font-weight: 700;
			font-size: 18px;
			background-color: #eef6f9;
		}
		.show-all {
			margin-bottom: 5px;
		}
		.filters-items {
			.accordion-navigation {
				width: 100%;
				padding-right: 0;
				margin-bottom: 0 !important;
			}
			
		} 
		.accordion .accordion-navigation > a:hover, 
		.accordion dd > a:hover {
			background: #f4f4f4;
		}
		.accordion .accordion-navigation.active > a, 
		.accordion dd.active > a {
			background: #f4f4f4;
		}

		.accordion .accordion-navigation > a h6 {
			margin: 0;
			display: inline-block;
		}
	}
}

.clear-filters {
	margin: 0 -10px;
	padding: 20px 10px;
	background-color: #efeeee;
	@include clearfix();
	a {
		padding-top: 15px;
		color: $blue;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		text-decoration: underline;
	}
	.btn {
		margin: 0;
		color: $blue;
		font-size: 14px;
		font-weight: 700;
	}
}
