.form-group{
	font-size: 14px;
	color: $dgray;
	.imput{
		select{
			background: #f6f6f6;
		}
		select,
		input[type='text']{
			border: 1px solid #abadb3;
			width: 400px;
			padding: 7px 12px;
			line-height: 22px;
			display: block;
			color: #646464;
			font-size: 16px;
			@include r($mob) {
				width: 100%;
			}
			&:hover,
			&:focus{
				outline:none;
			}
			&.phonefield{
				width: 200px;
			}
		}
	}
	&.checkbox:not(#foo){
		@include clearfix();
		input[type='checkbox'], input[type='radio'] {
			outline: none;
		    opacity: 0;
		    float: left;
		    width: 18px;
		}
		> span{
			margin: 0;
			display: block;
			width: 100%;
			float: left;
			margin-bottom: 4px;
			@include r($mob) {
				margin-bottom: 10px;
			}
		}
		label{
			font-weight: 400;
			clear: none;
			display: block;
			line-height: normal;
		}
		input[type='checkbox'] + label, input[type='radio'] + label {
		    margin: 0;
		    clear: none;
		    padding: 0 4px 0 24px;
		    cursor: pointer;
		    min-height: 25px;
		    background: url(../img/uncheck.png) left 3px no-repeat;
		    -webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			}
			input[type='checkbox']:checked + label, input[type='radio']:checked + label {
				background: url(../img/check.png) left 3px no-repeat;
			}
		}
	&.radio:not(#foo){
		@include clearfix();
		input[type='radio'] {
	    opacity: 0;
	    float: left;
	    display: none;
		}
		> span{
			margin: 0;
			display: block;
			width: 49%;
			float: left;
			position: relative;
			padding: 15px 20px;
			&:last-child{
				float:right;
			}
			@include r($mob) {
				width: 100%;
			}
			> span{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			> label:hover + span{
				border: 2px solid #ededed;
			}
		}
		label{
			font-weight: 400;
			clear: none;
			display: block;
			width: 100%;
			line-height: 1.2;
		}
		input[type='radio'] + label {
		    margin: 0;
		    clear: none;
		    position: relative;
		    z-index: 10;
		    padding: 5px 30px;
		    cursor: pointer;
		    background: url(../img/radioff.png) left 3px no-repeat;
		    -webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}
		label:hover,
		input[type='radio']:checked + label {
			background: url(../img/radion.png) left 3px no-repeat !important;
		}
		input[disabled] + label {
			pointer-events: none;
		}
		input[type='radio']:checked + label + span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2px solid #0090ff;
		}
		input[disabled] + label + span {
			display: none;
		}
		input[disabled] + label:hover + span {
			display: none;
		}
	}
	&.delivery-type {
		&.radio:not(#foo){
			> span {
				width: 33%;
				label {
					min-height: 150px;
				}
			}
		}
	}
	&.textarea{
		label{
			font-weight: 400;
			line-height: normal;
		}
		.textarea{
			textarea{
				resize:vertical;
				border: 1px solid #abadb3;
				outline: none;
				padding: 7px 12px;
				line-height: 22px;
				display: block;
				color: #646464;
				font-size: 16px;
			}
		}
	}
	&.dropdown{
		margin-bottom: 12px;
		.dropdown-content{
			a,button{
				padding: 6px 12px;
				line-height: 24px;
				display: block;
				color: $ddgray;
				font-size: 16px;
				text-align: left;
			}
			button{
				border: 1px solid #abadb3;
				background: #fdfdfd;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2));
				background: -webkit-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
				background: -o-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
				background: -ms-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
				background: linear-gradient(to bottom, #fdfdfd 0%,#f2f2f2 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
				width: 400px;
				outline: none;
				transition:all .3s;
				@include r($mob) {
					width: 100%;
				}
				&:hover{
					-webkit-box-shadow:0px 0px 6px 1px rgba(94, 185, 255, 0.5);
					-moz-box-shadow:0px 0px 6px 1px rgba(94, 185, 255, 0.5);
					box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
				}
				&.open::after{
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					transform: rotate(180deg);
				}
				&::after{
					content: '';
					float: right;
					background: url(../img/carret.png) no-repeat center center;
					width: 9px;
					height: 24px;
					line-height: 38px;
					display: block;
				}
			}
			.f-dropdown {
				max-width: 400px;
				background: #fff;
				border: 1px solid #a0a0a0;
				a{
					//font-size: 14px;
					color: $black;
				}
			}
			ul li{
				a:hover{
					background: #ededed;
				}					
			}
		}
	}
	&.submit{
		.btn{
			float: left;
			margin-right: 35px;
		}
		p{
			margin: 0;
			padding:10px 0;
			font-size: 14px;
			line-height: 18px;
			color: $dgray;
		}
	}
  &__title{
    display: inline-block;
    &_mb{
      margin-bottom: 28px;
    }
  }
  &__logos{
    display: block;
    max-width: 270px;
    img{
      display: inline-block;
      margin-bottom: 15px;
      &:not(:last-child){
        margin-right: 25px;
        @include r(800) {
          margin-right: 18px;
        }
        @include r(768) {
          margin-right: 25px;
        }
        @include r(767) {
          margin-right: 15px;
        }
      }
    }
  }
  &__description{
    display: block;
    color: #646464;
    font-size: 14px;
    line-height: 1.35;
  }
  &_checkboxes {
    input:checked{
      & + label {
        .form-group__title, .form-group__description{
          color: #000;
        }
      }
    }

  }
  .form-group__checkbox{
    &.is-disabled {
      opacity: .54;
      pointer-events: none;
    }
  }
}
.form-group_mb {
	margin-bottom: 30px !important;
}
.modal__body {
	.checkbox_small {
		@include r($mob) {
			&.checkbox {
				margin-top: 0;
			}
		}
		label {
			font-size: 13px;
			padding-right: 0;
		}
		+ .btn-wrap {
			@include r($mob) {
				margin-bottom: 20px;
			}
		}
	}
}
.form .form-order .form-group.checkbox_row:not(#foo) {
  margin-left: 0;
}
.form .form-order .form-group.checkbox_row:not(#foo) input {
  position: absolute;
  pointer-events: none;
}




.form-group__title {
  display: inline-block;
}
.form-group__title_mb {
  margin-bottom: 28px;
}
.form-group__logos {
  display: block;
  max-width: 270px;
}
.form-group__logos img {
  display: inline-block;
  margin-bottom: 15px;
}
.form-group__logos img:not(:last-child) {
  margin-right: 25px;
}
@media only screen and (max-width: 800px) {
  .form-group__logos img:not(:last-child) {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .form-group__logos img:not(:last-child) {
    margin-right: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .form-group__logos img:not(:last-child) {
    margin-right: 15px;
  }
}
.form-group__description {
  display: block;
  color: #646464;
  font-size: 14px;
  line-height: 1.35;
}
.form-group_checkboxes input:checked + label .form-group__title, .form-group_checkboxes input:checked + label .form-group__description {
  color: #000;
}
.form-group .form-group__checkbox.is-disabled {
  opacity: .54;
  pointer-events: none;
}
