.sidebar{
	padding-top:rem-calc(20);
	&.is-width {
		width: rem-calc(210);
	}
	> .row{
		margin-top: rem-calc(30) !important;
		&.blog-article {
			.title {
				color: #4a5b70;
    			font-size: 21px;
			}
		}
		.title{
			font-size: rem-calc(15);
			font-weight: 700;
			line-height: 1.2;
			margin: rem-calc(8) 0 rem-calc(25) rem-calc(10);
			color: $ddgray;
			text-decoration: none;
			display: table;
			letter-spacing: 0px;
			word-spacing: 0px;
		}
		> a{
			margin-top: 15px;
			display: block;
			/*span{
				border-bottom: 1px solid $blue;
			}*/
		}
		a{
			/*> span{
				border-bottom: 1px solid $ddgray;
			}*/
		}
		&.menu-tree{
			text-align: left;
			color: $ddgray;
			// .title.tree{
			// 	border-bottom: rem-calc(1) solid $border-under;
			// }
			.accordion{
				.accordion-navigation{
					margin-bottom: rem-calc(14) !important;
					overflow: hidden;
					> .icon{
						display: block;
						position:relative;
						float:left;
						height: 17px;
						margin-right: 1px;
						margin-top: 2px;
						&::before{
							display: block;
							width: 18px;
							height: 11px;
							margin: 0;
						}
					}
					> a{
						color:$blue;
						font-size: rem-calc(14);
						line-height: rem-calc(17);
						font-weight: 400;
						padding: 0 rem-calc(5) 0 rem-calc(19);
						/*> span{
							border-bottom:1px solid $blue;
						}*/
						&:hover{
							color: $ddgray;
							text-decoration: underline;
						}
						&:last-child{
							margin-bottom: 0;
						}
						em {
							color: #999;
							border: 0;
							font-size: 13px;
							font-style: normal;
						}
					}
					&.active{
						> .icon::before{
							background-position: 2px -27px;
							height: 18px;
						}
						> a{
							font-weight: 700;
							color:$black;
							em {
								font-weight: normal !important;
							}
						}
					}
					.content{
						padding: rem-calc(13) rem-calc(15) rem-calc(5) rem-calc(13);
						ul{
							margin-bottom: 0;
							margin-top:0;
							li{
								list-style: none;
								margin-bottom: rem-calc(5);
								a{
									font-size: rem-calc(14);
									line-height: rem-calc(17);
									> span{
										border-bottom:1px solid $blue;
									}
									&:hover{
										color:$ddgray;
										> span{
											border-bottom:1px solid $ddgray;
										}
									}
								}
							}
						}
					}
				}
			}
			.accordion_simple {
				.accordion-navigation {
					&.active{
						> .icon::before{
							background-position: 2px -27px;
							height: 18px;
							-webkit-transform: rotate(-90deg);
							-moz-transform: rotate(-90deg);
							transform: rotate(-90deg);
						}
						> a{
							font-weight: 700;
							color:$black;
						}
					}
				}
			}
		}
		&.brand{
			.title.brand{

			}
			.content{
				border:1px solid $border;
	
				.brand-img{
					border-bottom:1px solid $border;
					width:100%;
					height: rem-calc(110);
					> div{
						display:table;
						width: 100%;
						height: 100%;
						> div{
							display: table-cell;
							vertical-align: middle;
							img{
								margin: 0 auto;
								display: block;
							}
						}
					} 
				}
			}
		}
	}
}
