.menu-nav{
	a{
		color:$white;
		span{
			border-bottom: 1px solid $blue;
		}
		&:hover{
			color:$ddgray;
			span{
				border-bottom: 1px solid $ddgray;
			}
		}
	}
	&.order-nav{
		border-bottom:6px solid #5b6a84;
		.menuinfo{
			.logo{
				padding-left: 8px;
				.about {
					padding-left: 12px;
					width: auto;
				}
			}
			.info{
				width:540px;
				.schedule {
					width: 135px;
				}
			}
		}
	}
	.menubar {
		color:$white;
		background:$dgray;
		li{
			list-style:none;
			line-height:rem-calc(40);
			font-size: rem-calc(13);
			position:relative;
			float: left;
			color:$white;
			a {
				display: block;
				span {
					border: 0;
					display: block;
					padding: 0 1.125rem;
				}
			}
		}
		.left{
			margin:0;
			li{
				&:first-child{
					border-left:rem-calc(1) solid $gray;
				}
				line-height:rem-calc(40);
				border-right:rem-calc(1) solid $gray;
				a{
					&.active,
					&:hover {
						color: #ffffff;
						background: #7e7e7e;
					}
					span{
					    border:0;
				    	display: block;
				        padding: 0 0.8rem;
			    	}
				}
			}
		}
		.right{
			margin:0;
			li{
				color:$lgeern;
				padding-right: rem-calc(20);
				a{
					&:hover {
						color: #ebfe15;
					}
					color:$lgeern;
				}
			}
		}
	}
	// .menuinfo{
	// 	background:$lgray;
	// 	> .row {
	// 		padding: rem-calc(24) 0 rem-calc(15);
	// 	}
	// 	.logo {
	// 		padding-left: rem-calc(18);
	// 		.about-text{
	// 			width:auto;
	// 			float: none;
	// 			p{
	// 				font-size: rem-calc(13);
	// 				line-height: rem-calc(14);
	// 				color: #6b6b6b;
	// 				margin-top: rem-calc(14);
	// 				margin-bottom: rem-calc(8);
	// 			}
	// 		}
	// 	}
		// .info {
		// 	width: rem-calc(519);
		// 	a{
		// 		color: $blue;
		// 		display: block;
		// 		line-height: rem-calc(16);
		// 		&:hover{
		// 			color:$ddgray;
		// 		}
		// 	}
		// 	.phone{
		// 		.tel{
		// 			color: $ddgray;
		// 			font-size: rem-calc(18);
		// 			font-weight: 700;
		// 			margin-bottom: rem-calc(7);
		// 		}
		// 		p{
		// 			color: $llgray;
		// 			margin-top: 0;
		// 			margin-bottom: 0;
		// 			font-size: rem-calc(13);
		// 			line-height: rem-calc(16);
		// 		}
		// 	}
		// 	.callback {
		// 		font-size: rem-calc(13);
		// 		margin-top: rem-calc(-4);
		// 		padding-left: rem-calc(20);
		// 	}
		// 	.schedule {
		// 		padding-left: rem-calc(9);
		// 		margin-top: rem-calc(-4);
		// 		width: 135px;
		// 		p{
		// 			color: $ddgray;
		// 			margin-top: 0;
		// 			margin-bottom: rem-calc(13);
		// 			font-size: rem-calc(13);
		// 			&:first-child{
		// 				margin-bottom: rem-calc(2);
		// 			}
		// 			sup{
		// 				top: -2px;
		// 			}
		// 			span{
		// 				&.wek{
		// 					color: $red;
		// 					//float: right;
		// 					margin-left:  16px;
		// 				}
		// 			}
		// 		}
		// 		div{
		// 			margin-bottom: rem-calc(4);
		// 			display: block;
		// 			@include clearfix();
		// 			span{
		// 				display: block;
		// 				float: left;
		// 				-webkit-border-radius: 1px;
		// 				-moz-border-radius: 1px;
		// 				border-radius: 1px;
		// 				width: rem-calc(12);
		// 				height: rem-calc(15);
		// 				border: rem-calc(1) solid $ddgray;
		// 				margin-left: rem-calc(3);
		// 				-webkit-border-radius: 2px;
		// 				-moz-border-raius: 2px;
		// 				border-radius: 2px;
		// 				padding: 1px;
		// 				font-size: 11px;
		// 				line-height: 11px;
		// 				&:first-child{
		// 					margin-left:0;
		// 				}
		// 				&.wek{
		// 					border: rem-calc(1) solid $red;
		// 					color: $red;
		// 				}
		// 			}
		// 		} 
		// 	}
			// .search{
			// 	margin: 0;
			// 	@include clearfix();
			// 	input[type="search"] {
			// 		width: rem-calc(393);
			// 		color: $llgray;
			// 		font-size: rem-calc(14);
			// 		line-height: rem-calc(16);
			// 		padding: rem-calc(8) rem-calc(10);
			// 		border: 0;
			// 		line-height: 19px;
			// 		border: rem-calc(1) solid $in-color;
			// 		border-right: 0;
			// 		transition:all .2s;
			// 		&:active,
			// 		&:hover,
			// 		&:focus{
			// 			color: $ddgray;
			// 			outline: none;
			// 			z-index: 1;
			// 			-webkit-box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
			// 			   -moz-box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
			// 			        box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
			// 		}
			// 	}
			// 	button[type="submit"]{
			// 		width: rem-calc(126);
			// 		background: $lgray;
			// 		color: $ddgray;
			// 		font-size: rem-calc(14);
			// 		font-weight: 700;
			// 		line-height: rem-calc(19);
			// 		padding: rem-calc(8) rem-calc(5);
			// 		border: 0;
			// 		border: rem-calc(1) solid $in-color;
			// 		&:active,
			// 		&:hover,
			// 		&:focus{
			// 			color: $ddgray;
			// 			outline: 1px solid $ddgray;
			// 			outline-offset: -1px;
			// 		}
			// 	}
			// }
		// }
		// .basket-sm {
		// 	width: rem-calc(380);
		// 	padding-left: rem-calc(60);
		// 	> div{
		// 		display: table;
		// 		min-width: rem-calc(280);
		// 		margin-left: auto;
		// 		margin-right: auto;
		// 		border: rem-calc(1) solid $border;
		// 		text-align: center;
		// 		padding-bottom: 10px;
		// 		p{
		// 			color: $llgray;
		// 			font-size: rem-calc(13);
		// 			line-height: rem-calc(16);
		// 			margin-top: 0;
		// 			margin-bottom: rem-calc(7);
		// 		}
		// 		.money {
		// 			color: $ddgray;
		// 			font-size: rem-calc(31);
		// 			line-height: rem-calc(35);
		// 			padding-left: rem-calc(13);
		// 			font-weight: 700;					
		// 			margin-bottom: 0;
		// 			sup{
		// 				top: rem-calc(-10);
		// 				font-size: rem-calc(19);
		// 			}
		// 		}
		// 		.btn{
		// 			margin-top: rem-calc(12);
		// 			font-weight: 700;
		// 		}
		// 	}
		// }
	// }
}
.navigation {
	position: relative;
}
.menu-catalog{
	color:$black;
	//margin-bottom: 20px;
	background:$lblue;
	position: relative;
	.menu-catalog-drop {
		top: 100%;
	}
	> nav > ul > li{
		margin-bottom:0;
		margin-left:0;
		list-style:none;
		position:relative;
		float: left;
		&:before {
			content: "";
			position: absolute;
			top: -7px;
			left: 0;
			bottom: 0;
			width: 1px;
			background: #6C7A93;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		&.active {
			&:before {
				display: none;
			}
			+ li {
				&:before {
					display: none;
				}
			}
		}
		&.active > a,
		> a.dropdown:hover,
		a.is-hovered {
			///background-color:$white;
			border: 4px solid #4d5a70;
			border-bottom: 0;
			span{
				color:$black;
				border: 0;
				position: relative;
				z-index: 1;
			}
			&::before{
				content: '';
				position: absolute;
				height: 9px;
				bottom: -4px;
				right: 4px;
				left: 4px;
				background: #fff;
				z-index: 1000;
			}
			&:after {
				content: "";
				position: absolute;
				left: 4px;
				right: 4px;
				bottom: 0;
				top: 4px;
				background: #fff;
				border-radius: 3px 3px 0 0;
			}
		}
		> a{
			font-size:1rem;
			color:$white;
			padding:rem-calc(14) rem-calc(17) rem-calc(20) rem-calc(17);
			display:block;
			border: 4px solid $lblue;
			border-bottom: 0;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			span{
				color:$white;
			}
			&:hover span{
				border-bottom: 1px solid $white;
			}
		}

	}
	> nav > .row{
		padding-top: 7px;
		padding-left: 0;
	}
}
.f-dropdown.content{
	border-radius: 5px;
	display: none;
	box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
	border: solid 4px rgba(0, 0, 0, 0.15);
	border-top: 0;
	a{
		span{
			border-bottom-color:$blue 
		}
		&:hover{
			color:$ddgray;
			span{
				border-bottom-color: $ddgray;
			}
		}
	}
	.menu-item{
		border-right: rem-calc(1) solid $border;
		li {
			display: table;
			border-collapse: collapse;
			margin-bottom: 5px;
			a{
				//font-weight: 700;
				padding-left: 0;
				span {
					border-bottom: 1px solid transparent;
				}
				&:hover span{
					border-bottom-color: $ddgray;
				}
			}
		}
		.row{
			&:last-child{
				margin-bottom:0;
			}
		}
		.inline {
		    li {
		    	float: none;
		    	width: auto;
		    }
		}
		.product {
			margin-top: rem-calc(10);
			margin-bottom: rem-calc(30);
			li {
				font-weight: 700;
				font-size: rem-calc(14);
				line-height: rem-calc(18);
				margin-bottom: rem-calc(10);
			}
		}
		.brand {
			margin-bottom: rem-calc(30);
			.brand-title {
				font-size: rem-calc(14);
				margin-top: 0;
				margin-bottom: rem-calc(16);
				span {
					font-weight:700;
				}
			}
			li {
				font-weight:400;
				font-size:rem-calc(13);
				a{
					padding-left: 0;
				}
			}
		}
	}
	.new-in{
		.new-in-title{
			color:$title;
			font-size:rem-calc(18);
			line-height:rem-calc(22);
			font-weight: 700;
			margin-top: rem-calc(10);
			margin-bottom: rem-calc(25);
		}
		.new-in-img{
			position: relative;
			.sticker {
				top: -7px;
			}
		}
		.new-in-about{
			margin-top: rem-calc(10);
			a{
				color:$blue	;
				font-size: rem-calc(14);
				line-height: rem-calc(16);
				&:hover{
					color:$ddgray;
					span{
						border-bottom-color: $ddgray;
					}
				}
			}
			.price{
				color:$ddgray;
				font-size: rem-calc(21);
				font-weight: 700;
				line-height: rem-calc(16);
				sup{
					top: -7px;
					font-size: 70%;
				}
			}
		}
	}
}
.f-dropdown.is-right-position.content {
	left: auto !important;
	right: 0;
}
.f-dropdown.open {
	display: block;
}
.social{
	display: inline-block;
	margin: 10px 0 0 5px;
	li{
			margin-left: 5px !important;
		a{
			padding:0 !important;
			i{
				display: block;
				width: 18px;
				height: 20px;
			}
			.fb, .pinterest{
				background-image: url('../img/social-btns.png');
			}
			.fb{
				background-position: 20px 0;
				transition: 0.1s;
				&:hover{
					background-position: 20px 20px;
					transition: 0.1s;
				}
			}
			.pinterest{
				background-position: 0 0;
				transition: 0.1s;
				&:hover{
					background-position: 0 20px;
					transition: 0.1s;
				}
			}
		}
	}
}

#widgetFullCart {
	cursor: pointer;
}