.menu-nav_content {
	z-index: 1;
}
.search-result-text {
	margin-top: 10px;
	color: #999;
	font-size: 13px;
}
.search {
	position: relative;
	button[type="submit"]:disabled {
		cursor: not-allowed;
	}

	#search-categories-input {
		position: absolute;
		height: 100%;
		z-index: 2;
		right: 130px;
		text-align: right;
		padding: 0.65rem 0.65rem 0;
		background-color: #fff;
		border: 0.0625rem solid #abadb3;
		border-left: 0;
		border-right: 0;
		font-size: 0.8125rem;
		height: 37px;
		@include r($tablet) {
	        display: none;
	    }
	}

	#search-categories-block {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		left: 50%;
		z-index: 11;
		background: #fff;
		border: 1px solid #abadb3;
		border-top: 0;
		@include r($desktop-m){
            right: 10px;
        }
		ul {
			list-style: none;
			margin: 0.55rem 1.1rem;
			li {
				padding: 0.3rem 0;
			}
		}
		a {
			font-size: 0.8125rem;
		}
	}

	.search-categories-selected {
		text-decoration: underline;
	}

	.search-group-block {
		display: none;
	}

	.search-group, .search-group-single {
		font-weight: bold;
	}
}

.search__drop {
	display: none;
	position: absolute;
	width: calc(100% - 125px);
	top: 100%;
	right: 0;
	left: 0;
	z-index: 10;
	background: #fff;
	border: 1px solid #abadb3;
	border-top: 0;
	@include r($desktop-m) {
		width: calc(100% - 145px);
		left: 10px;
	}
	@include r($tablet) {
		width: calc(340px - 42px);
		top: 41px;
		left: auto;
		right: 42px;
	}
	@include r($mob) {
		width: calc(100% - 82px);
		top: 30px;
		left: 0;
		right: auto;
	}
}
.search__head {
	margin-bottom: 5px;
	padding: 5px 15px;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	font: bold 13px "Open Sans Bold", Arial, sans-serif;
	background: #bdce00;
}
.search-item {
	display: block;
	padding: 5px 15px;
	overflow: hidden;
	position: relative;
	.sticker{
		left: 15px;
	}
	&:hover {
		background: #eef6f9;
	}
	.sticker.smallest {
		top: 0;
	}
}
.search-item__img {
	float: left;
	margin-right: 15px;
	border: 4px solid #f4f4f4;
	height: 56px;
	width: 65px;
	text-align: center;
	line-height: 48px;
	overflow: hidden;
	background: #fff;
	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
	}
}
.search-item__main {
	overflow: hidden;
	margin-right: 15px;
	strong {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
		color: #0053a0;
		font-weight: normal;
	}
	span {
		font-size: 14px;
		color: #000;
		font-weight: bold;
		sup {
			position: relative;
			top: -4px;
			font-size: 12px;
		}
	}
}
.search__all {
	padding: 10px 15px 15px;
	a {
		display: inline-block !important;
		border-bottom: 1px solid;
		font-size: 13px;
		color: #0053a0;
		&:hover {
			color: $ddgray;
		}
	}
}

.main-container {
	.info {
		&_search {
			padding: 10px;
			width: 100%;
			background: #eef6f9;
		}
		.search {
			margin-bottom: 0;
			@include r($mob) {
				height: auto;
			}
			&__input {
				@include r($mob) {
					width: calc(100% - 83px);
					padding: 4px 15px 5px;
				}
			}
			&__btn {
				@include r($mob) {
					width: auto;
					height: auto;
					font-size: 0.75rem;
					padding: 4px 18px 5px;
					vertical-align: top;
				}
			}
		}
	}
}

.archived-product-status {
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 10px;
}
