.solutions {
    &__bcrumbs {
        padding: 1.5rem 0 1.8rem;;
     }
     &__wrapper {
        padding: 17px 20px 3px;
        @include r($tablet) {
            padding-bottom: 16px;
        }
        @include r($mob) {
            padding: 0px;
        }
    }
    &__title {
        letter-spacing: 0px;
        margin-bottom: 16px;
        margin-top: -2px;
        margin-left: -3px;
        @include r($tablet) {
            max-width: 630px;
            margin-bottom: 24px;
        }
        @include r($mob) {
            margin: 0;
        }    
    }
    &__video {
        padding-bottom: 55.25%;
        position: relative;
        margin-bottom: 38px;
        iframe {
            height: 100%;
            position: absolute;
        }
        @include r($tablet) {
            margin-bottom: 42px;
        }
        @include r($mob) {
            margin-top: 7px;
            margin-bottom: 0;
        } 
    }
    &__product-box {
        margin-top: 10px;
        margin-bottom: 15px;
        @include r($tablet) {
            padding-top: 10px;
            margin-bottom: 0px;
        }
    }
    &__text {
        //float: right;
        padding-right: 35px;
        @include r($tablet) {
            margin-left: -3px;
            padding-right: 10px;
        }
        @include r($mob) {
            margin-left: 0px;
            margin-top: 16px;
        }
        p {
            line-height: 1.5;
            @include r($mob) {
                font-size: 12px;
                margin-bottom: 12px;
            }
        }
        
    }
    &__pagination.pagination {
        padding: 2px 2px 10px;
        @include r($tablet) {
            margin-top: 20px;
        }
    }
    &__col {
        width: calc(50% - 20px);
        margin-right: 20px;
        &:nth-child(2n) {
            margin-right: 0;
            margin-left: 20px;
        }
    }
}
.solution {
    .main-container {
        position: relative;
        z-index: 1;
    }
    &__bcrumbs {
       padding: 1.5rem 0;
    }
    &__main {
        padding: 15px 35px 15px 50px;
        @include r($tablet) {
            padding-top: 20px;
        }
        @include r($mob) {
            padding: 27px 10px 5px;
        }
        @include r($mob-sm) {
            padding-top: 7px;
        }
    }
    &__title {
        margin-bottom: 28px;
        @include r($tablet) {
            margin-bottom: 20px;
        }
        @include r($mob) {
            margin-bottom: 12px;
        }
    }
    &__product-box {
        margin-top: 0;
        margin-bottom: 13px;
        @include r($mob) {
            margin-top: 10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__other-products {
        padding-top: 35px;
        &.other-products {
            @include r($tablet) {
                margin-top: 35px;
            }
            @include r($mob) {
                .small-title {
                    font-size: 16px;
                }
            }
        }
        .multiple-items.item-crop-wrap {
            margin-top: 12px;
        }
        .multiple-items .slick-slide {
            padding-top: 20px;
        }
    }
    &__text {
        @include r($mob) {
            max-width: 620px;
        }
        p {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            letter-spacing: 0.4px;
            line-height: 1.5;
            color: #333333;
            @include r($tablet) {
                font-size: 18px;
            }
            @include r($mob) {
                font-size: 12px;
            }
        }
        
    } 
    &__slider {
        width: 100%;
        .slick-list {
            padding-bottom: 30px;
            padding-top: 0;
            @include r($tablet) {
                padding-bottom: 10px;
            }
        }
        .slick-slide {
            //margin: 0 5px;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    &__slide {
        &_small {
            margin: 0 20px;
            display: block;
            @include r($tablet) {
                height: 77px;
            }
        }
        &-image {
            background-size: cover;
            width: 100%;
            height: 100%;
        }

    }
    &__slider-for {
        overflow: visible;
        z-index: 101;
        .slick-list {
            overflow: visible;
        }
    }
    &__slider-nav {
        padding: 10px 55px;
        overflow: hidden;
        @include r($mob) {
            padding: 49px 10px 0px;
        }
        .slick-slide {
            margin: 0 5px;
        }
        
    }
    .slick-arrow {
        background-color: #fff;
        border: 1px solid #dddddd;
        position: absolute;
        top: 27px;
        padding: 0 5px;
        max-width: 32px;
        @include r($mob) {
            top: 0px;
        }
        
        &.slick-next {
            right: 0%;
            margin: 0 10px;
            &::before {
                border-bottom: none;
                border-left: none;
                margin-right: 8px;    
            }
            @include r($mob) {
                right: 25%;
            }
        }
        &.slick-prev {
            left: 0%;
            margin: 0 10px;
            &::before {
                border-top: none;
                border-right: none;
                margin-left: 8px;
            }
            @include r($mob) {
                left: 25%;
            }
        }
		&::before {
			background-image: none;
			width: 13px;
			height: 13px;
			transform: rotate(45deg);
			border: 1px solid black;			
		}
    }
}

.items-preview {
    margin-top: 25px;
    @include r($mob) {
        margin-top: 20px;
    }
    &__link {
        width: calc(50% - 20px);
        float: left;
        display: block;
        position: relative;
        margin-right: 20px;
        margin-bottom: 37px;
        @include r($tablet) {
            width: calc(50% - 14px);
            margin-right: 14px;
            margin-bottom: 25px;
        }
        @include r($mob) {
            width: calc(50% - 4px);
            margin-right: 4px;
            margin-bottom: 25px;
        }
        &:hover {
            .items-preview__img::after, .items-preview__link-text {
                opacity: 1;
                transition: opacity .25s ease;
            }
            .items-preview__content, .items-preview__title h3{
                color: #0053a0;
            }
        }
        &:nth-child(2n) {
            margin-right: 0;
            margin-left: 20px;
            @include r($tablet) {
                margin-left: 14px;
            }
            @include r($mob) {
                margin-left: 4px;
            }
        }

    }
    &__item {
        background-color: #eef6f9;
        padding: 14px 18px 14px 19px;
        @include r($tablet) {
            padding: 9px 10px 3px 11px;
        }
        @include r($tablet) {
            padding: 4px 5px 3px 5px;
        }
    }
    &__img {
        padding-bottom: 48.106061%;
        background-size: cover;
        position: relative;
        z-index: 0;
        margin-bottom: 22px;
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(0,0,0, .6);
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity .25s ease;
        }
        @include r($tablet) {
            margin-bottom: 15px;
        }
        @include r($mob) {
            margin-bottom: 11px;
        }
        
    }

    &__link-text {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        text-align: center;
        font-family: "Open Sans Bold", Helvetica, Arial, sans-serif;
        opacity: 0;
        transition: opacity .25s ease;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 2.5px;
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: rgba(255,255,255, .7);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @include r($tablet) {
            font-size: 16px;
            letter-spacing: 1.7px;
            top: 44%
        }
    }
    &__content {
        color: #333333;
        font-family: "Open Sans";
        padding-left: 2px;
    }
    &__descr {
        p {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.4px;
            @include r($tablet) {
                font-size: 12px;
            }
            @include r($mob) {
                font-size: 10px;
                line-height: 1.5;
            }
        }
    }
    &__title {
        h3 {
            
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.6px;
            margin-bottom: 12px;
            @include r($tablet) {
                font-size: 18px;
            }
            @include r($mob) {
                font-size: 16px;
                line-height: 1.3;
                margin-bottom: 4px;
            }
        }

    }
}