@charset "UTF-8";
.sticker{
	position: absolute;
	top: -10px;
	left:0;
	width: 100%;
	height: auto;
	@include r($mob) {
		top: -5px;
	}
  &.sticker_bottom {
    top: 20px;
  }

  &.sticker_mob {
		display: none;
		@include r($mob) {
			display: block;
		}
	}
	.new, .markdown, .sale{
		position: absolute;
		top:0;
		left: rem-calc(-6);
		display: block;
		width: rem-calc(95);
		height: rem-calc(30);
		text-align: center;
		line-height: rem-calc(30);
		text-transform: uppercase;
		font-weight: 700;
		font-size: rem-calc(14);
		color: white;
		border: none;
		outline: none;
		border-top-left-radius:rem-calc(11);
		border-top-right-radius:rem-calc(9);
		border-bottom-left-radius:rem-calc(9);
		border-bottom-right-radius:rem-calc(11);
		transform: skew(-20deg);
		-webkit-transform: skew(-20deg);
		-moz-transform: skew(-20deg);
		  -o-transform: skew(-20deg);
		 z-index: 6;
		&::before{
			transform: skew(20deg);
			-webkit-transform: skew(20deg);
			-moz-transform: skew(20deg);
		  	-o-transform: skew(20deg);
		}
		@include r($mob) {
			left: 3px;
			width: rem-calc(67);
			height: rem-calc(21);
			line-height: rem-calc(21);
			font-size: rem-calc(10);
		}
	}
	&.sticker2nd {
		top:25px;
		@include r($mob) {
			top: 20px;
		}
	}
	&.sticker3rd {
		top:60px;
		@include r($mob) {
			top: 45px;
		}
	}
	&.sticker4th {
		top:95px;
		@include r($mob) {
			top: 70px;
		}
	}
	&.small {
	.new, .markdown, .sale{
		width: rem-calc(70);
		height: rem-calc(23);
		line-height: rem-calc(23);
		font-weight: 700;
		font-size: rem-calc(12);
		border-top-left-radius:rem-calc(10);
		border-top-right-radius:rem-calc(8);
		border-bottom-left-radius:rem-calc(8);
		border-bottom-right-radius:rem-calc(10);
		}
	}
	&.smallest {
	.new, .markdown, .sale{
		width: rem-calc(60);
		height: rem-calc(20);
		line-height: rem-calc(20);
		font-weight: 700;
		font-size: rem-calc(10);
		border-top-left-radius:rem-calc(8);
		border-top-right-radius:rem-calc(6);
		border-bottom-left-radius:rem-calc(6);
		border-bottom-right-radius:rem-calc(8);
		}
		&_mob-l {
			@include r($mob) {
				left: -10px;
			}
		}

		.stock-stick {
			width: 50px;
			height: 50px;
			background-size: cover;
			@include r($mob) {
				width: 40px;
				height: 40px;
				right: -10px;
			}
		}

	}
	&.smallest.sticker2nd {
		top: 15px;
	}
	.new{
		background-color: $new;
		&::before{
			content:'Новинка!';
		}
	}
	.markdown{
		background-color: $red;
		&::before{
			content:'УЦЕНКА!';
		}
	}
	.sale{
		background-color: $red;
		@include r($mob) {
			//display: none;
		}
		&::before{
			content:'АКЦИЯ!';
		}
	}
	.stock-stick, .recommended {
		//width: 100%;
		height: 80px;
		background-size: contain;
		right: -10px;
	} 
	.stock-stick{
		height: rem-calc(121);
		background-image: url(../img/slider/stock.png);
		background-size: 60px;
		top:-5px;
		right: 0;
		margin-bottom: 10px;
	}
	.recommended{
		background-image: url(../img/recommended.png);
		@include r($mob) {
			float: right;
		}
	}
	&_corner_top_left{
		top: 0;
		left: rem-calc(-10);
	}
	&_corner_top_right{
		top: 0;
		right: rem-calc(-10);
	}
	&_corner_right_mid{
		top: 30%;
		transform: translateY(-50%);
		right: rem-calc(-10);
		@include r($mob) {
			top: 10px !important;
		}
	}
	.stock-stick,.recommended{
		display: block;
		position: relative;
		z-index: 6;
		top: 0;
		right: rem-calc(-3);
		float: right;
		width: 51%;
		//width: 80px;
		height: rem-calc(119);
		background-position: top right;
		background-repeat: no-repeat;
		@include r($mob) {
			display: inline-block;
			top: -15px;
			right: 10px;
			width: 50px;
			height: 50px;
			margin-left: 10px;
			margin-bottom: 0;
			-webkit-background-size: 50px;
			     -o-background-size: 50px;
			        background-size: 50px;
		}
	}
}
.promo__stick{
	z-index: 6;
	position: absolute;
	top:-15px;
	right: -10px;
	width: 80px;
	height: 80px;
	max-height: 120px;
	background-image: url(../img/actions-label.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.promo__stick_big{
	width: 120px;
	height: 120px;
}

.stickers_set {
	position: absolute;
	width: 100%;
	// @include r($tablet){
	// 	top: -6px;
	// }
}

.stick-label {
	width: 100px;
	height: 40px;
	background-size: contain;
	@include r($mob){
		width: 65px;
		height: 25px;
		top: -10px;
	}
}
.stick-star {
	width: 90px;
	height: 60px;
	background-size: contain;
	@include r($tablet){
		width: 85px;
		height: 55px;
	}
	@include r($mob){
		width: 50px;
		height: 35px;
		top: -10px;
	}
}
.stick-stock {
	// width: 80px;
	// height: 80px;
	background-size: contain;
	@include r($tablet){
		width: 55px;
		height: 55px;
	}
	@include r($mob){
		width: 45px;
		height: 45px;
		top: -10px;
	}
}

.sticker-in {
	z-index: 10;
	position: relative;
	display: flex;
	justify-content: flex-start;
	.stock-stick {
		position: absolute;
		width: 60px;
		height: 60px;
	}
	&_l {
		margin-left: 92px;
		display: block;
		a {
			display: inline-block;
			vertical-align: top;
		}
		@include r($mob) {
			margin-left: 70px;
		}
	}
}
