@charset "UTF-8";
.sticker{
	position: absolute;
	top:-10px;
	left:0;
	width: 100%;
	.new, .markdown, .sale{
		position: absolute;
		top:0;
		left: rem-calc(-6);
		display: block;
		width: rem-calc(95);
		height: rem-calc(30);
		text-align: center;
		line-height: rem-calc(30);
		text-transform: uppercase;
		font-weight: 700;
		font-size: rem-calc(14);
		color: white;
		border: none;
		outline: none;
		border-top-left-radius:rem-calc(11);
		border-top-right-radius:rem-calc(9);
		border-bottom-left-radius:rem-calc(9);
		border-bottom-right-radius:rem-calc(11);
		-webkit-transform: skew(-20deg);
		-moz-transform: skew(-20deg);
		  -o-transform: skew(-20deg);
		 z-index: 6;
		&::before{
			-webkit-transform: skew(20deg);
			-moz-transform: skew(20deg);
		  	-o-transform: skew(20deg);
		}
	}
	&.sticker2nd {
		top:35px;
	}
	&.sticker3rd {
		top:70px;
	}
	&.sticker4th {
		top:105px;
	}
	&.small {
	.new, .markdown, .sale{
		width: rem-calc(70);
		height: rem-calc(23);
		line-height: rem-calc(23);
		font-weight: 700;
		font-size: rem-calc(12);
		border-top-left-radius:rem-calc(10);
		border-top-right-radius:rem-calc(8);
		border-bottom-left-radius:rem-calc(8);
		border-bottom-right-radius:rem-calc(10);
		}
	}
	&.smallest {
	.new, .markdown, .sale{
		width: rem-calc(60);
		height: rem-calc(20);
		line-height: rem-calc(20);
		font-weight: 700;
		font-size: rem-calc(11);
		border-top-left-radius:rem-calc(8);
		border-top-right-radius:rem-calc(6);
		border-bottom-left-radius:rem-calc(6);
		border-bottom-right-radius:rem-calc(8);
		}
	}
	.new{
		background-color: $new;
		&::before{
			content:'Новинка!';
		}
	}
	.markdown{
		background-color: $red;
		&::before{
			content:'УЦЕНКА!';
		}
	}
	.sale{
		background-color: $red;
		&::before{
			content:'АКЦИЯ!';
		}
	}
	.stock-stick,.recommended{
		display: block;
		position: relative;
		z-index: 6;
		top: 0;
		right: rem-calc(-3);
		float: right;
		width: 100%;
		height: rem-calc(119);
		background-position: top right;
		background-repeat: no-repeat;
					}
	.stock-stick{
		height: rem-calc(121);
		background-image: url(../img/slider/stock.png);
		background-size: 60px;
		top:-5px;
		right: 0;
	}
	.recommended{
		background-image: url(../img/slider/recommended.png);
	}
}
.promo__stick{
	z-index: 6;
	position: absolute;
	top:-15px;
	right: -10px;
	width: 120px;
	height: 120px;
	max-height: 120px;
	background-image: url(../img/actions-label.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.stickers_set {
	position: absolute;
	.sticker {
		position: relative;
	}
}