.sort-abc {
	position: relative;
	margin: 0 0 40px;
	padding: 12px 5px 2px 12px;
	background: #eef6f9;
	font-size: 0;
	@include r($tablet) {
		padding: 12px 0px 2px 4px;
	}
	> a,span {
		display: inline-block;
		margin: 0 5px 10px 0;
		vertical-align: middle;
		width: 37px;
		font-size: 14px;
		text-align: center;
		line-height: 34px;
		text-transform: uppercase;
		height: 37px;
		background: #fff;
		border: 1px solid #DDD;
		color: #000;
		border-radius: 3px;
		box-shadow: inset 0 -3px 0 rgba(8, 34, 60, 0.1);
		&:hover {
			background: #fafafa;
		}
		&:active {
			box-shadow: none;
		}
		&.sort-abc__all {
			width: 54px;
			text-transform: capitalize;
		}
	}
	> span {
		pointer-events: none;
		opacity: 0.5;
	}
	.form-group {
		position: absolute;
		margin: 0;
		right: 15px;
		bottom: 10px;
		font-size: 16px;
		width: 190px;
		@include r($tablet) {
			right: 5px;
		}
		button {
			width: 100% !important;
		}
	}
}
.trademarks-wrap {
	margin: 0 -0.9375rem -40px;
	font-size: 0;
	@include r($tablet) {
		margin: 0 -10px -40px;
	}
	@include r($mob) {
		margin: 0 -5px -30px;
	}
	.column {
		&:last-child { 
		float: left; 
		}
	}
}
.trademark-holder {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 0 15px;
	@include r($tablet) {
		padding: 0 10px;
	}
	@include r($mob) {
		width: 33%;
		padding: 0 5px;
	}
	@include r($mob-sm) {
		width: 50%;
	}
}
.trademark {
	position: relative;
	margin-bottom: 40px;
	@include r($mob) {
		margin-bottom: 30px;
	}
}
.trademark__img {
	display: block;
	margin-bottom: 4px;
	border: 1px solid #ddd;
	height: 120px;
	line-height: 120px;
	text-align: center;
	overflow: hidden;
	-webkit-transition: box-shadow .2s linear;
	-moz-transition: box-shadow .2s linear;
	transition: box-shadow .2s linear;
	@include r($mob) {
		height: 100px;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
		@include gray;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		transition: all .2s linear;
	}
	&:hover {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		img {
			@include gray-zero;
		}
	}
}
.trademark__name {
	border-bottom: 1px solid;
	font-size: 16px;
	font-weight: bold;
}
.row_mb {
	margin-bottom: 30px !important;
}
.button-group_right {
	float: right;
}
.button-group {
	list-style-type: none;
	margin: 0;
	li {
		float: left;
		margin-left: -1px;
		border: 1px solid #ddd;
		height: 45px;
		line-height: 45px;
		background: #fff;
		box-shadow: inset 0 -3px 0 rgba(8, 34, 60, 0.1);
		font-size: 16px;
		font-weight: bold;
		@include r($mob){
			width: 50%;
			height: 35px;
			line-height: 35px; 
			font-size: 13px;
		}
		&:hover {
			background: #fafafa;
		}
		&:active,
		&.is-active {
			background: #ddd;
			box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
			color: #000;
		}
		&:first-child {
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			border-radius: 0 5px 5px 0;
		}
		a {
			display: block;
			padding: 0 20px;
			height: 45px;
			color: #4a5b70;
			@include r($mob){
				height: 35px;
				padding: 0;
				text-align: center;
			}
		}
	}
}