.footer{
	&_desktop{
		@include r($tablet) {
			display: none;
		}
	}
	&_mobile{
		display: none;
		@include r($tablet) {
			display: block;
		}
	}
}

.work-schedule{
	margin-left: 128px;
	float: left;
	width: 120px;
	margin-left: 20px;
	text-align: left;
	@include r($tablet){
		margin-left: 0;
	}
	.wrk{
		display: inline-block;
		margin-bottom: 10px;
		color: $ddgray;
		font-size: 13px;
		line-height: 13px;
		// margin-right: 8px;
		sup{
			top:-4px;
		}
		&_wek{
			color: $red;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
  .wek {
    sup {
      top:-4px;
    }
  }
	.day{
		display: inline-block;
		width: 50px;
		padding: 5px 4px;
		text-transform: uppercase;
		// padding: 2px 6px;
		border: 1px solid #3e3e3e;
		-webkit-border-radius: 2px;
		-moz-border-raius: 2px;
		border-radius: 2px;
		&_end{
			border: 1px solid $red;
		}
		@include r($mob){
			border: none;
		}
	}

}
footer ul.contact li .work-schedule, .footer_mobile .work-schedule{
  margin-left: 10px;
  max-width: calc(100% - 130px);
  width: 220px;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  p{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: auto;
    font-size: 13px;
    &.work-schedule__decorated{
      color: #ed1c24;
      flex-wrap: nowrap;
    }
    &.work-schedule__title{
      font-size: 14px;
      line-height: 1.4;
    }
    sup{
      top: -4px;
      font-size: 59%;
    }
  }
  &__right{
    //margin-left: 54px;
    margin-left: auto;
    text-align: right;
  }
  &__item{
    &:not(:last-child){
      margin-bottom: 17px;
    }
    &_bot{
      .work-schedule__right{
        //margin-left: 17px;
      }
    }
  }



}
.footer_mobile .work-schedule{
  margin-left: 0;
  width: 136px;
  text-align: left;
  &__item{
    &:not(:last-child){
      margin-bottom: 13px;
    }
  }
}
.work-schedule_row {
	width: 250px;
	float: none;
	margin-left: 0;
	@include clearfix();
	.wrk{
		margin-bottom: 0;
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
		.day{
			border: 1px solid currentColor;
			@include r($mob) {
				border: none;
				padding-left: 0;
			}
		}
	}
}
.footer-top{
	@include clearfix();
	margin-bottom: 25px;
}

.footer-bottom{
	position: relative;
	@include clearfix();
	background-color: $lblue;
	height: 55px;
	line-height: 55px;
	@include r($mob){
		height: auto;
		padding: 20px 0;
	}
}

.footer-copy{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	@include r($mob){
		position: static;
		top: 0;
		transform: translateY(0);
		margin-bottom: 15px;
	}
	.copyright{
		margin-bottom: 0;
		color: $white;
		font-size: 13px;
		font-weight: 400;
		&_text{
			@include r($mob){
				display: block;
			}
		}
	}
}

// переопределяю .copyright
footer{
	.footer-copy{
		.copyright{
			@include r($mob){
				padding-left: 0;
				text-align: center;
			}
		}
	}
}

.footer-link-site{
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	@include r($mob){
		position: static;
		top: 0;
		transform: translateY(0);
	}
	a{
		font-size: 12px;
		text-decoration: underline;
		color: $white;
	}
}

.footer-nav{
	float: right;
	width: calc(100% - 150px);
	@include r($mob) {
		max-width: 130px;
		width: 100%;
		display: inline-block;
		text-align: left;
	}
	&__list{
		font-size: 0;
		list-style-type: none;
		padding-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
        @include r($mob) {
           flex-direction: column;
           align-items: flex-end;
         }
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 15px;
		max-width: 80px;
		width: 80px;
		margin-bottom: 10px;
        @include r($tablet) {
          width: unset;
          &_large {
            max-width: unset;
          }
        }
		@include r($mob){
			width: auto;
			display: block;
			max-width: none;
			margin: 0;
			margin-bottom: 10px;
            text-align: right;
			&:last-child{
				margin-right: 0;
			}
		}
		// &:first-child{
		// 	margin-left: 0;
		// }
		// &:last-child{
		// 	margin-right: 0;
		// }
	}
	&__link{
		font-size: 14px;
		color: $blue;
		text-decoration: underline;
		@include r($mob){
			font-size: 13px;
			color: $black;
		}
	}
}
