body{
    min-width: 0; 
}

.hidden-sm{
    @include r($tablet) {
        display: none !important;
    }
}

.hidden-xs{
    @include r($mob) {
        display: none !important;
    }
}


.row {
    @include r($desktop-m){
        padding: 0 10px;
    }
    @include r($tablet) {
        padding: 0 25px;
    }
    .row{
        padding-left: 0;
        padding-right: 0;
    }

    .not-collapse {
        .row{
            @include r($tablet){
                margin: 0;
            }
        }
    }
}


.main-section{
    max-width: 990px;
    width: 100%;
    @include r($desktop-m) {
        width: calc(100% - 230px);
    }
    @include r($tablet) {
        width: 100%;
        float: none;
        max-width: none;
    }
}

.sidebar{
    max-width: 200px;
    width: 100%;

    @include r($tablet) {
        display: none;
        // max-width: none;
    }
}


.menuinfo{
    background:$lgray;
    font-size: 0;
    > .row {
        position: relative;
        padding: rem-calc(24) 0 rem-calc(15);
        @include r($tablet) {
            padding: rem-calc(24) rem-calc(25) rem-calc(50);
        }
        @include r($mob) {
            padding: rem-calc(25) rem-calc(10);
        }
    }
    &__bl{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        &.logo{
            width: 25%;
        }
        &.info{
            width: 42%;
        }
        &.common-bl{
            width: 33%;
        }
    }
}

.logo {
    padding-left: rem-calc(18);
    .about-text{
        width:auto;
        float: none;
        p{
            font-size: rem-calc(13);
            line-height: rem-calc(14);
            color: #6b6b6b;
            margin-top: rem-calc(14);
            margin-bottom: rem-calc(8);
        }
        @include r($tablet) {
            display: none;
        }
    }
    @include r($mob) {
        display: none;
    }
}

// wrap for search and basket
.common-bl{
    @include clearfix;
    float: right;
    @include r($desktop-m) {
        padding: 0 10px;
    }
    @include r($tablet) {
        padding: 0;
    }
}

// main search field
.search {
    height: 38px;
    margin-bottom: rem-calc(10);
    // overflow: hidden;
    font-size: 0;
    @include r($tablet) {
        position: absolute;
        left: rem-calc(25);
        right: rem-calc(25);
        bottom: rem-calc(10);
        // width: 100%;
        height: 30px;
        margin-bottom: 0;
    }
    @include r($mob) {
        left: rem-calc(10);
        right: rem-calc(10);
    }
    &__input{ 
        position: absolute;
        top: 0;
        right: rem-calc(112);
        // transform: translate3d(50%,0,0);
        width: 200px;
        color: #999;
        font-size: 0.875rem;
        padding: 0.5rem 0.625rem;
        line-height: 19px;
        border: 0.0625rem solid #abadb3;
        border-right: 0;
        transition: all .2s;
        &:active,
        &:hover,
        &:focus{
            color: $ddgray;
            outline: none;
            z-index: 1;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
               -moz-box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
                    box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
        }
        &:focus{
            width: 400px;
        }
        @include r($tablet) {
            padding: rem-calc(5) rem-calc(10);
            right: 0;
            left: 0;
            width: 100%;
            &:focus{
                width: 100%
            }
        }
    }

    &__btn{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 7.875rem;
        background: #f4f4f4;
        color: #333;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.1875rem;
        padding: 0.5rem 0.3125rem;
        border: 0.0625rem solid #abadb3;
        -webkit-box-shadow: 4px 0px 6px 1px #f4f4f4;
               -moz-box-shadow: 4px 0px 6px 1px #f4f4f4;
                    box-shadow: 4px 0px 6px 1px #f4f4f4;
        &:active,
        &:hover,
        &:focus{
            color: $ddgray;
            outline: 1px solid $ddgray;
            outline-offset: -1px;
        }
        @include r($tablet) {
            padding: rem-calc(5) rem-calc(10);
        }
    }
}

// basket block from header
.basket-sm {

    float: right;
    padding: rem-calc(50) 0 0;
    width: auto;
    // width: rem-calc(380);
    // padding-left: rem-calc(60);
    @include r($tablet) {
        padding: 0;
    }
    @include r($mob) {
        display: none;
    }
    &.is-added-goods {
        @include r($tablet) {
            .icon-basket{
                background-position: -91px -5px;
            }
            // for mob
            // .icon-basket{
            //     background-position: -65px -5px;
            // }
        }
        @include r($mob) {
            display: none;
        }
    }
    > div{
        position: relative;
        display: table;
        // min-width: rem-calc(280);
        margin-left: auto;
        margin-right: auto;
        border: rem-calc(1) solid $border;
        text-align: center;
        // padding-bottom: 10px;
        padding: rem-calc(10) rem-calc(20);
        @include r($tablet){
            padding: rem-calc(15);
            background: $white;
        }
        .title{
            color: $llgray;
            font-size: rem-calc(13);
            line-height: rem-calc(16);
            margin-top: 0;
            // margin-bottom: rem-calc(7);
            margin-bottom: 0.6rem;
            @include r($tablet) {
                font-size: 0;
                margin: 0;
                line-height: 0;
                span{
                    position: absolute;
                    top: 50%;
                    left: -4px;
                    transform: translateY(-50%);
                    font-size: rem-calc(12);
                    font-weight: 700;
                    color: $white;
                    z-index: 1;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: rem-calc(22);
                        height:rem-calc(22);
                        transform: translate(-50%, -50%);
                        // margin-top: rem-calc(-11);
                        // margin-left: rem-calc(-11);
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        background-color: rgb(250, 94, 0);
                        z-index: -1;
                    }
                }
            }
        }
        .money {
            display: inline-block;
            padding-left: 0;
            padding-right: 1.55rem;
            margin: 0;
            vertical-align: middle;
            color: $ddgray;
            font-size: rem-calc(31);
            line-height: rem-calc(35);
            padding-right: rem-calc(25);
            /* padding-left: rem-calc(13); */
            font-weight: 700;                   
            margin-bottom: 0;
            @include r($tablet) {
                font-size: rem-calc(18);
                line-height: rem-calc(16);
                padding: 0;
            }
            sup{
                top: rem-calc(-10);
                font-size: rem-calc(19);
                @include r($tablet) {
                    font-size: rem-calc(11);
                    top: rem-calc(-4);
                }
            }
        }
        .btn{
            margin: 0;
            vertical-align: middle;
            // margin-top: rem-calc(12);
            font-weight: 700;
            @include r($tablet) {
                display: none;
            }
        }
    }
    .icon-basket {
        display: none;
        @include r($tablet) {
            display: inline-block;
            width: 24px;
            height: 22px;
            padding-right: rem-calc(35);
            vertical-align: sub;
            background-image:  url("../img/basket.png");
            background-repeat: no-repeat;
            background-position: -31px -5px;
        }
        @include r($mob) {
            background-position: -5px -5px;
            width: 16px;
            height: 14px;
        }
    }
}

// contact info between logo and search
.info {
// width: rem-calc(519);
    font-size: 0;
    @include clearfix;
    @include r($mob) {
        display: none;
    }
    &__inner{
        padding-top: 15px;
        @include r($desktop-m){
            padding: 15px 0 30px;
        }
        @include r($tablet) {
            padding-top: 0;
            width: rem-calc(200);
            margin: 0 auto;
        }
    }
    &__items{
        display: inline-block;
        vertical-align: top;
        width: 33%;
        margin-bottom: 10px;
        @include r($desktop-m) {
            padding: 0 10px;
            &.callback{
                width: 50%;
            }
            &.phone{
                width: 50%;
            }
            &.schedule{
                width: 50%;
            }
        }
        @include r($tablet) {
            &.callback, &.phone{
                width: 100%;
            }
            &.schedule{
                display: none;
            }
        }
    }
    a{
        color: $blue;
        display: block;
        line-height: rem-calc(16);
        &:hover{
            color:$ddgray;
        }
    }
    .phone{
        float: left;
        .tel{
            color: $ddgray;
            font-size: rem-calc(18);
            font-weight: 700;
            margin-bottom: rem-calc(7);
            line-height: rem-calc(16);
        }
        p{
            color: $llgray;
            margin-top: 0;
            margin-bottom: 0;
            font-size: rem-calc(13);
            line-height: rem-calc(16);
            @include r($tablet) {
                display: none;
            }
        }
    }
    .callback {
        float: left;
        font-size: rem-calc(13);
        margin-top: rem-calc(-4);
        // padding-left: rem-calc(20);
        @include r($desktop-m){
            float: none;
            display: block;
        }
        @include r(tablet) {
            display: none;
        }
    }
    .schedule {
        float: right;
        margin-top: rem-calc(-4);
        // padding-left: rem-calc(9);
        // width: 135px;
        p{
            color: $ddgray;
            margin-top: 0;
            margin-bottom: rem-calc(13);
            font-size: rem-calc(13);
            &:first-child{
                margin-bottom: rem-calc(2);
            }
            sup{
                top: -2px;
            }
            span{
                &.wek{
                    color: $red;
                    //float: right;
                    margin-left:  16px;
                }
            }
        }
        div{
            margin-bottom: rem-calc(4);
            display: block;
            @include clearfix();
            span{
                display: block;
                float: left;
                -webkit-border-radius: 1px;
                -moz-border-radius: 1px;
                border-radius: 1px;
                width: rem-calc(12);
                height: rem-calc(15);
                border: rem-calc(1) solid $ddgray;
                margin-left: rem-calc(3);
                -webkit-border-radius: 2px;
                -moz-border-raius: 2px;
                border-radius: 2px;
                padding: 1px;
                font-size: 11px;
                line-height: 11px;
                &:first-child{
                    margin-left:0;
                }
                &.wek{
                    border: rem-calc(1) solid $red;
                    color: $red;
                }
            }
        } 
    }
}