body{
    min-width: 0; 
    &.is-overflow{
        overflow: hidden;
    }
}

.hidden-dsm{
    @include r($desktop-m) {
        display: none !important;
    }
}

.hidden-sm{
    @include r($tablet) {
        display: none !important;
    }
}

.hidden-smp {
    @include r($tablet-p) {
        display: none !important;
    }
}

.hidden-xs{
    @include r($mob) {
        display: none !important;
    }
}


.row {
    @include r($desktop-m){
        padding: 0 rem-calc(10);
    }
    @include r($tablet) {
        padding: 0 rem-calc(25);
    }
    @include r($mob) {
        padding: 0 rem-calc(10);
    }
    .row{
        padding-left: 0;
        padding-right: 0;
    }

    .not-collapse {
        .row{
            @include r($tablet){
                margin: 0;
            }
        }
    }
    &.gutters {
        padding-left: 20px;
        padding-right: 30px;
        @include r($tablet) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @include r($mob) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.sidebar{
    max-width: 200px;
    width: 100%;
    &_left {
        float: left;
    }
    .promo-box {
        flex-direction: column;
    }
    // @include r($tablet) {
    //     display: none;
    //     // max-width: none;
    // }
}

.sidebar.sidebar_main-page {
    padding-top: 280px;
}


.menuinfo{
    background:$lgray;
    font-size: 0;
     @include r($mob) {
        background: $white;
    }
    > .row {
        position: relative;
        padding: rem-calc(24) 0 rem-calc(15);
        @include r($tablet) {
            padding: rem-calc(24) rem-calc(25) rem-calc(50);
        }
        @include r($mob) {
            padding: rem-calc(10);
        }
    }
    &__bl{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        &.logo{
            width: 25%;
        }
        &.info{
            width: 42%;
            @include r($tablet) {
                max-width: 350px;
                width: 100%;
                @include hcenter();
            }
            @include r($mob) {
                position: relative;
                display: block;
                left: 0;
                width: 100%;
                margin: 0;
                max-width: none;
                transform: translateX(0);
            }
        }
        &.common-bl{
            width: 33%;
            @include r($tablet) {
                width: auto;
                padding-left: 30px;
            }
        }
    }
}
.menuinfo_order-nav {
    @include r($mob) {
        display: none;
    }
    >.row {
        @include r($tablet) {
            padding: 20px 25px 15px;
        }
    }
    .menuinfo__bl {
        &.logo {
            width: 39%;
            min-width: 300px;
            padding-left: 10px;
            @include r($tablet) {
                padding-left: 0;
            }
        }
        &.info {
            @include r($tablet) {
                position: relative;
                transform: none;
                left: 0;
            }
            .connection {
                margin-top: 0;
            }
            .callback {
                margin-bottom: 0;
            }
        }
        .img {
            display: inline-block;
            float: left;
            @include r($tablet) {
                img {
                    height: 45px;
                }
            }
        }
        .schedule {
            width: auto !important;
        }
    }
}

.logo {
    padding-left: rem-calc(18);
    .about-text{
        width:auto;
        float: none;
        p{
            font-size: rem-calc(13);
            line-height: rem-calc(14);
            color: #6b6b6b;
            margin-top: rem-calc(14);
            margin-bottom: rem-calc(8);
        }
        @include r($tablet) {
            display: none;
        }
    }
    @include r($tablet) {
        padding-left: 0;
    }
    @include r($mob) {
        display: none;
    }
}

// wrap for search and basket
.common-bl{
    @include clearfix;
    float: right;
    @include r($desktop-m) {
        padding: 0 10px;
    }
    @include r($tablet) {
        padding: 0;
    }
}


// basket block from header
.basket-sm {

    float: right;
    max-width: rem-calc(280);
    width: 100%;
    // padding-left: rem-calc(60);
    @include r($tablet) {
        width: auto;
    }
    @include r($mob) {
        display: none;
    }
    &.is-added-goods {
        @include r($tablet) {
            .icon-basket{
                background-position: -91px -5px;
            }
        }
        @include r($mob) {
            display: none;
        }
    }
    > div{
        position: relative;
        display: table;
        width: 100%;
        margin-left: auto;
        // margin-right: auto;
        border: rem-calc(1) solid $border;
        text-align: center;
        // padding-bottom: 10px;
        padding: rem-calc(10) rem-calc(20);
        @include r($tablet){
            padding: rem-calc(15);
            background: $white;
        }
        .title{
            color: $llgray;
            font-size: rem-calc(13);
            line-height: rem-calc(16);
            margin-top: 0;
            // margin-bottom: rem-calc(7);
            margin-bottom: 0.6rem;
            @include r($tablet) {
                font-size: 0;
                margin: 0;
                line-height: 0;
                span{
                    position: absolute;
                    top: 50%;
                    left: -4px;
                    transform: translateY(-50%);
                    font-size: rem-calc(12);
                    font-weight: 700;
                    color: $white;
                    z-index: 1;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: rem-calc(22);
                        height:rem-calc(22);
                        transform: translate(-50%, -50%);
                        // margin-top: rem-calc(-11);
                        // margin-left: rem-calc(-11);
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        background-color: rgb(250, 94, 0);
                        z-index: -1;
                    }
                }
            }
        }
        .money {
            margin: 0;
            padding-bottom: rem-calc(10);
            vertical-align: middle;
            color: $ddgray;
            font-size: rem-calc(31);
            line-height: rem-calc(35);
            font-weight: 700;
            margin-bottom: 0;
            @include r($tablet) {
                font-size: rem-calc(18);
                line-height: rem-calc(16);
                padding: 0;
            }
            sup{
                top: rem-calc(-10);
                font-size: rem-calc(19);
                @include r($tablet) {
                    font-size: rem-calc(11);
                    top: rem-calc(-4);
                }
            }
        }
        .btn{
            margin: 0;
            vertical-align: middle;
            // margin-top: rem-calc(12);
            font-weight: 700;
            @include r($tablet) {
                display: none;
            }
        }
    }
}

.icon-basket {
    display: none;
    @include r($tablet) {
        display: inline-block;
        width: 24px;
        height: 22px;
        padding-right: rem-calc(30);
        vertical-align: sub;
        background-image:  url("../img/addicons.png");
        background-repeat: no-repeat;
        background-position: -31px -5px;
    }
    @include r($mob) {
        background-position: -5px -5px;
        width: 17px;
        height: 14px;
        vertical-align: baseline;
        padding-right: 0;
    }
}


// contact info between logo and search
.info {
// width: rem-calc(519);
    font-size: 0;
    &__inner{
        position: relative;
        @include clearfix;
        @include r($desktop-m){
            padding: 0 0 30px;
        }
        @include r($tablet) {
            padding: 0 10px;
        }
        @include r($tablet) {
            padding: 0;
        }
    }
    &__items{
        display: inline-block;
        vertical-align: top;
        width: 33%;
        margin-bottom: 10px;
       
        &.search{
            width: 100%;
        }
        @include r($desktop-m) {
            padding: 0 10px;
            &.callback{
                width: 58%;
            }
            &.connection{
                width: 50%;
            }
            &.schedule{
                width: 42%;
            }
        }
        @include r($tablet) {
            padding: 0;
            &.callback, &.connection{
                width: 100%;
                float: left;
            }
            &.schedule{
                display: none;
            }
            &.search{
                width: auto;
            }
        }
        @include r($mob) {
            float: none;
            font-size: 0;
            text-align: center;
            &.callback, &.connection{
                width: 50%;
            }
        }
    }
    a{
        color: $blue;
        display: block;
        line-height: rem-calc(16);
        &:hover{
            color:$ddgray;
        }
    }

    &__mob-btn {
        @include r($mob) {
            width: 50%;
            display: inline-block;
            border: 1px solid #abadb3;
            min-height: 44px;
            padding: 0 5px;
            float: none;

            a {
                height: 40px;
                color: $ddgray;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    border-bottom: none;
                }
            }
            a:hover {
                span {
                    border-bottom: none;
                }
            }
        }
    }
    .connection{
        float: left;
        @include r($tablet) {
            margin: 7px 5px 5px 10px;
        }
        @include r($mob) {
            margin: 0;
            margin-bottom: 10px;
        }
       
        .tel{
            color: $ddgray;
            font-size: rem-calc(18);
            font-weight: 700;
            margin-bottom: rem-calc(7);
            line-height: rem-calc(16);
             @include r($mob) {
                display: none;
            }
        }
        .city {
            font-size: 13px;
            margin-top: 5px;
            @include r($tablet) {
                max-width: 180px;
            }
            @include r($mob) {
                max-width: 100%;
                margin: 0;
            }
        }
        p{
            color: $llgray;
            margin-top: 0;
            margin-bottom: 0;
            font-size: rem-calc(13);
            line-height: rem-calc(16);
            @include r($tablet) {
                display: none;
            }
        }
    }
    .callback {
        float: left;
        padding-left: rem-calc(30);
        font-size: rem-calc(13);
        margin-top: rem-calc(-4);
        @include r($desktop-m){
            float: none;
            // display: block;
            margin-top: rem-calc(1);
            margin-bottom: rem-calc(20);
            padding-left: 10px;
        }
        @include r($tablet) {
            padding-left: 10px;
        }
        @include r($mob) {
            margin: 0;
            margin-bottom: 10px;
        }
    } 
    .schedule {
        float: right;
        margin-top: rem-calc(-4);
        padding-left: 30px;
        color: #333333;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        &__info{
          position: absolute;
          top: 30px;
          right: 80px;
          width: 202px;
          padding: 16px 30px 26px 28px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border: 1px solid #dddddd;
          background-color: #ffffff;
          z-index: 4;
          display: none;
          &:before{
            position: absolute;
            content: '';
            display: block;
            right: 18px;
            top: -8px;
            width: 18px;
            height: 18px;
            border: 1px solid #dddddd;
            border-color: #dddddd #ffffff #ffffff #dddddd;
            background-color: #ffffff;
            transform: rotate(45deg);
          }
        }
        p{
          margin: 0;
          display: block;
          float: none;
          width: auto;
          font-size: 13px;
          &:not(:last-child){
            margin-bottom: 10px;
          }
          &.schedule__title{
            margin-bottom: 0;
          }
          &.schedule__subtitle{
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 14px;
          }
          sup{
            top: -4px;
            font-size: 59%;
          }
        }
        &__title{
          text-decoration: underline;
          cursor: pointer;
          @include rmin(1024){
            &:hover{
              &+.schedule__info{
                display: block;
              }
            }
          }
        }
        &__decorated{
          color: #ed1c24;
        }

        &__right{
          margin-left: 54px;
        }
        &__item{
          p{
            display: flex;
            .schedule__right{
              margin-left: auto;
            }
          }
          &:not(:last-child){
            margin-bottom: 30px;
          }
          &_bot{
            p{
              &:not(:last-child){
                margin-bottom: 0;
                &.schedule__subtitle{
                  margin-bottom: 4px;
                }
              }
            }

          }
        }
        //p{
        //    color: $ddgray;
        //    margin-top: 0;
        //    margin-bottom: rem-calc(13);
        //    font-size: rem-calc(13);
        //    &:first-child{
        //        margin-bottom: rem-calc(2);
        //    }
        //    sup{
        //        top: -2px;
        //    }
        //    span{
        //        &.wek{
        //            color: $red;
        //            //float: right;
        //            margin-left:  16px;
        //        }
        //    }
        //}
        //div{
        //    margin-bottom: rem-calc(4);
        //    display: block;
        //    @include clearfix();
        //    span{
        //        display: block;
        //        float: left;
        //        -webkit-border-radius: 1px;
        //        -moz-border-radius: 1px;
        //        border-radius: 1px;
        //        width: rem-calc(12);
        //        height: rem-calc(15);
        //        border: rem-calc(1) solid $ddgray;
        //        margin-left: rem-calc(3);
        //        -webkit-border-radius: 2px;
        //        -moz-border-raius: 2px;
        //        border-radius: 2px;
        //        padding: 1px;
        //        font-size: 11px;
        //        line-height: 11px;
        //        &:first-child{
        //            margin-left:0;
        //        }
        //        &.wek{
        //            border: rem-calc(1) solid $red;
        //            color: $red;
        //        }
        //    }
        //}
    }
    .search {
        height: 38px;
        margin-bottom: rem-calc(10);
        // overflow: hidden;
        font-size: 0;
        &_mob {
            @include r($tablet) {
                position: absolute;
                top: 7px;
                right: 0;
                padding: 0;
                width: 115px;
            }
            @include r($mob) {
                position: relative;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: auto;
                margin: 0;
            }
            .search__input {
                @include r($tablet) {
                    position: absolute;
                    top: 0;
                    width: 115px;
                    padding: rem-calc(10) rem-calc(10) rem-calc(11);
                    right: 40px;
                    &:focus{
                        width: 300px;
                    }
                }
                @include r($mob) {
                    position: relative;
                    width: 100%;
                    right: 0;
                    padding: rem-calc(6) rem-calc(15);
                    padding-right: rem-calc(95);
                    line-height: 1rem;
                    display: block;
                    &:focus{
                        width: 100%;
                    }
                }
            }
            .search__btn {
                @include r($tablet) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: rem-calc(42);
                    height: rem-calc(42);
                    vertical-align: top;
                    font-size: 0;
                    line-height: 0;
                    padding: rem-calc(5) rem-calc(10);
                }
                @include r($mob) {
                    width: auto;
                    height: auto;
                    padding: rem-calc(6) rem-calc(18) rem-calc(6);
                    -webkit-box-shadow: none;
                            box-shadow: none;
                    font-size: rem-calc(12);
                    line-height: rem-calc(16);;
                    font-weight: 700;
                }
            }
        }
        &__input{ 
            // position: absolute;
            // top: 0;
            // right: rem-calc(112);
            // transform: translate3d(50%,0,0);
            width: calc(100% - 125px);
            color: #999;
            font-size: 0.875rem;
            padding: 0.5rem 0.625rem;
            line-height: 19px;
            border: 0.0625rem solid #abadb3;
            border-right: 0;
            transition: all .2s;
            &:active,
            &:hover,
            &:focus{
                color: $ddgray;
                outline: none;
                z-index: 1;
                -webkit-box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
                   -moz-box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
                        box-shadow: 0px 0px 6px 1px rgba(94, 185, 255, 0.5);
            }
        }

        &__btn{
            z-index: 2;
            width: rem-calc(125);
            background: #f4f4f4;
            color: #333;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.1875rem;
            padding: 0.5rem 0.3125rem;
            border: 0.0625rem solid #abadb3;
            -webkit-box-shadow: 4px 0px 6px 1px #f4f4f4;
                   -moz-box-shadow: 4px 0px 6px 1px #f4f4f4;
                        box-shadow: 4px 0px 6px 1px #f4f4f4;
            &:active,
            &:hover,
            &:focus{
                color: $ddgray;
                outline: 1px solid $ddgray;
                outline-offset: -1px;
            }
            .icon-search {
                display: none;
                width: 20px;
                height: 20px;
                margin-left: rem-calc(-2);
                background-image:  url("../img/addicons.png");
                background-repeat: no-repeat;
                background-position: -214px -5px;
                @include r($tablet) {
                    display: inline-block;
                }
                @include r($mob) {
                    display: none;
                }
            }
        }
    }

}
.phone_prefix {
  color: #7a828b;
  left: 5px;
  letter-spacing: 2px;
  position: relative;
  text-decoration: none;
  top: 31px;
  z-index: 2;
  background: #fff;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
}

.phone_prefix_callback_popup {
  top: 29px;
}

.callback_popup {
  top: 29px;
}

.phone_prefixed_input {
  padding-left: 35px !important;
}
