body{
    min-width: 0; 
    &.is-overflow{
        overflow: hidden;
    }
}

.hidden-dsm{
    @include r($desktop-m) {
        display: none !important;
    }
}

.hidden-sm{
    @include r($tablet) {
        display: none !important;
    }
}

.hidden-smp {
    @include r($tablet-p) {
        display: none !important;
    }
}

.hidden-xs{
    @include r($mob) {
        display: none !important;
    }
}


.row {
    @include r($desktop-m){
        padding: 0 rem-calc(10);
    }
    @include r($tablet) {
        padding: 0 rem-calc(25);
    }
    @include r($mob) {
        padding: 0 rem-calc(10);
    }
    .row{
        padding-left: 0;
        padding-right: 0;
    }

    .not-collapse {
        .row{
            @include r($tablet){
                margin: 0;
            }
        }
    }
    &.gutters {
        padding-left: 20px;
        padding-right: 30px;
        @include r($tablet) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @include r($mob) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.sidebar{
    max-width: 200px;
    width: 100%;
    &_left {
        float: left;
    }
    .promo-box {
        flex-direction: column;
    }
    // @include r($tablet) {
    //     display: none;
    //     // max-width: none;
    // }
}

.sidebar.sidebar_main-page {
    padding-top: 280px;
}

.menuinfo_order-nav {
    @include r($mob) {
        display: none;
    }
    >.row {
        @include r($tablet) {
            padding: 20px 25px 15px;
        }
    }
    .menuinfo__bl {
        &.logo {
            width: 39%;
            min-width: 300px;
            padding-left: 10px;
            @include r($tablet) {
                padding-left: 0;
            }
        }
        &.info {
            @include r($tablet) {
                position: relative;
                transform: none;
                left: 0;
            }
            .connection {
                margin-top: 0;
            }
            .callback {
                margin-bottom: 0;
            }
        }
        .img {
            display: inline-block;
            float: left;
            @include r($tablet) {
                img {
                    height: 45px;
                }
            }
        }
        .schedule {
            width: auto !important;
        }
    }
}

.logo {
    padding-left: rem-calc(18);
    .about-text{
        width:auto;
        float: none;
        p{
            font-size: rem-calc(13);
            line-height: rem-calc(14);
            color: #6b6b6b;
            margin-top: rem-calc(14);
            margin-bottom: rem-calc(8);
        }
        @include r($tablet) {
            display: none;
        }
    }
    @include r($tablet) {
        padding-left: 0;
    }
    @include r($mob) {
        display: none;
    }
}

.icon-basket {
    display: none;
    @include r($tablet) {
        display: inline-block;
        width: 24px;
        height: 22px;
        padding-right: rem-calc(30);
        vertical-align: sub;
        background-image:  url("../img/addicons.png");
        background-repeat: no-repeat;
        background-position: -31px -5px;
    }
    @include r($mob) {
        background-position: -5px -5px;
        width: 17px;
        height: 14px;
        vertical-align: baseline;
        padding-right: 0;
    }
}

.phone_prefix {
  color: #7a828b;
  left: 5px;
  letter-spacing: 2px;
  position: relative;
  text-decoration: none;
  top: 31px;
  z-index: 2;
  background: #fff;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
}

.phone_prefix_callback_popup {
  top: 29px;
}

.callback_popup {
  top: 29px;
}

.phone_prefixed_input {
  padding-left: 35px !important;
}
